@use 'common/' as *;
@use 'common/color' as color;

$fs : (8,9,10,11,12,14,16,18,20,22,24,26,28,36,48);

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.editor, #editorWriter {
	color: #3c3e40;
	overflow-x:auto;
	max-width: 100%;
	font-size: rem(18);
	line-height: em(34, 18);
	letter-spacing: -0.01em;
	word-break: break-all;
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
	overflow-x: hidden;
	width: 100%;
	h1, h2, h3, h4, h5{
		margin: 0;
		padding: 0;
		font-family: 'Roboto', 'Noto Sans KR', sans-serif;
		font-weight: bold !important;
	}
	table{
        background: #fff;
		margin-top: 1em;
		margin-bottom: 1em;
        td, th{
            border:1px solid #ddd;
            padding: em(6,18);
            height: em(50, 18);
            vertical-align: middle;
        }
        th{
            font-weight: 500;
            background: #f7f7f7;
        }
    }

    ol{
	    list-style: decimal;
		margin-top: 1em;
		margin-bottom: 1em;
	    > li{
	    	margin-top: 0.25em;
	        list-style: decimal;
	        margin-left: 1.25em;
	        padding-left: 0 !important;
			a{
				text-decoration: none;
				font-style: normal !important;
			}
	        &:first-child{
	        	margin-top: 0;
	        }
	    }
	}
	ul{
		list-style: disc;
		margin-top: 1em;
		margin-bottom: 1em;
	    > li{
	    	margin-top: 0.25em;
	        list-style: disc;
	        margin-left: 1.25em;
	        padding-left: 0 !important;
			a{
				text-decoration: none;
				font-style: normal !important;
			}
	        &:first-child{
	        	margin-top: 0;
	        }
	    }
	}
	b{
		//color: #222;
	}
	a{
		color: #999;
		text-decoration: underline;
		font-style: italic;
		&:hover{
			color: #222;
			text-decoration: underline;
		}
	}
	h1{
		font-size: rem(20);
		line-height: em(30, 20);
		padding: em(14, 20) 0;
		font-weight: 500;
		margin-top: em(18 ,20);
		margin-bottom: em(18 ,20);
		//color: #222;
		border-top: 1px solid #111;
		border-bottom: 1px solid #e5e5e5;
	}
	h2{
		position: relative;
		font-size: rem(18);
		padding-left: em(18, 18);
		font-weight: 400;
		margin-top: em(18 ,18);
		margin-bottom: em(18 ,18);
		&::before{
			content: '';
			display: block;
			position: absolute;
			top:em(9, 18);
			bottom:em(9, 18);
			background-color: #111;
			width: em(3, 18);
			left:0;
		}
	}
	hr{
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-top:1px dashed #111;
	}
	i {
	  font-family: inherit !important;
	  font-style: italic  !important;
	  font-weight: inherit;
	  font-variant: normal;
	  text-transform: none;
	  line-height: inherit !important;
	}
	p{
		margin-top: 1em;
		margin-bottom: 1em;
	}
	blockquote, .editor_blockquote{
		clear:both;
		border: 1px solid #e5e5e5;
		padding: rem(64) rem(30);
		margin:0 rem(20);
		position: relative;
		a{
			text-decoration: none;
			font-style: normal !important;
		}
		&::before, &:after{
			content: '\e92a';
			color: rgba(0,0,0,0);
			display: block;
			position: absolute;
			top:rem(19);
			left: 50%;
			transform: translateX(-50%);
			font-size: rem(20);
			opacity: 0.7;
			
			font-family: 'icomoon' !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;

			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%0A%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23000' d='M230.329 893.571c-69.375 0-124.876-24.976-166.503-74.928s-63.826-113.778-63.826-194.255c0-105.453 30.525-202.58 91.579-291.383s138.754-158.177 227.556-202.58l16.651 33.301c-38.85 30.525-72.152 69.375-102.676 113.778-30.525 47.176-52.725 105.453-63.826 172.055l58.277 13.874c66.603 13.874 116.551 41.627 152.628 83.253 36.074 38.85 55.501 88.802 55.501 144.303 0 61.050-19.427 108.225-61.050 144.303-38.85 38.85-86.026 58.277-144.303 58.277zM818.639 893.571c-69.375 0-124.876-24.976-166.503-74.928s-63.826-113.778-63.826-194.255c0-105.453 30.525-202.58 91.579-291.383s138.754-158.177 227.556-202.58l16.651 33.301c-38.85 30.525-72.152 69.375-102.676 113.778-30.525 47.176-52.725 105.453-63.826 172.055l58.277 13.874c66.603 13.874 116.551 41.627 152.628 83.253 36.074 38.85 55.501 88.802 55.501 144.303 0 61.050-19.427 108.225-61.050 144.303-38.85 38.85-86.026 58.277-144.303 58.277z'%3E%3C/path%3E%3C/svg%3E");
			background-size: 100% auto;
			background-position:50% 50%;
		}
		&:after{
			top:auto;
			bottom:rem(19);
			transform: translateX(-50%) scaleY(-1) scaleX(-1);
		}
	}
	.editor_box, .news_box_article{
		&{
			clear:both;
			position: relative;
			font-size: rem(18);
			padding: rem(22) rem(30) rem(24) ;
			margin:1em rem(20);
			border: 1px solid #e5e5e5;
			a{
				text-decoration: none;
				font-style: normal !important;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				top:0;
				left:em(30, 18);
				height: em(5, 18);
				width: em(60, 18);
				transform: translateY(-50%);
				background-color: #111;
			}
		}
		h3{
			font-weight: bold;
			margin-bottom: em(16, 18);
		}
		p{
			font-size: em(16, 18);
			line-height: em(28, 16);
		}
	}
	.editor_q, .editor_a{
		clear:both;
		border: 1px solid #e5e5e5;
		position: relative;
		text-align: left;
		font-size: rem(16);
		min-height: em(50,16);
		padding:em(11, 16) em(20, 16) em(11, 16) em(70, 16);
		width: 100%;
		line-height: em(28, 16);
		margin-top: em(10, 16);
 		&::before{
			content: '';
			display: block;
			position: absolute;
			top:0;
			left:0;
			width: em(50,16);
			height: em(50,16);
			background: #e5e5e5 no-repeat 50% 50%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='15px'%3E%3Ctext kerning='auto' font-family='Gulim' fill='rgb(0, 0, 0)' font-size='16px' x='0px' y='12.0619999999999px'%3E%3Ctspan font-size='16px' font-family='Montserrat' font-weight='bold' fill='%233C3E40'%3EQ%3C/tspan%3E%3C/text%3E%3C/svg%3E");
			background-size: em(14,16) auto;
		}
	}
	.editor_a{
		text-align: right;
		padding:em(11, 16) em(70, 16) em(11, 16) em(20, 16);
		margin-bottom: 1em;
		&::before{
			right:0;
			left: auto;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='11px'%3E%3Ctext kerning='auto' font-family='Gulim' fill='rgb(0, 0, 0)' font-size='16px' x='0px' y='11.0619999999999px'%3E%3Ctspan font-size='16px' font-family='Montserrat' font-weight='bold' fill='%23222222'%3EA%3C/tspan%3E%3C/text%3E%3C/svg%3E");
		}
	}

	mark {
	    background-color: yellow;
	    color: black;
	}
	pre{
	    white-space: pre-wrap;
	}
	figure, .news_photo {
		&{
			clear:both;
			margin-top: 0;
			margin-bottom: 1em;
			display: block;
			max-width: 100%;
			+ .editor_arcad_left,
			+ .editor_arcad_right{
				margin-top: 1em;
			}
		}
		img{
			display: none;
			max-width: 100%;
			width: auto;
			&:first-child{display:block}
			@include mob {
				&:first-child{display:none}
				&:nth-last-child(2){display:block !important}
				&:last-child{display:block !important}
			}
		}
		.photo-img{
			max-width: 100%;
		}
		figcaption, .photo_caption{
			display:block !important;
			max-width: 100%;
			font-size: rem(14);
			margin-top: em(5, 14);
			line-height: em(24, 14);
			color: #888;
			display: inline-block;
			font-weight: 300;
		}
	}
	.news_photo {
		margin-top: 0;
		margin-bottom: -1em;
		clear:both;
	}
	.photo-view,
	.photo-view-btn{
		display: none;
	}
	.icon-a, .icon-q{
		display: inline-block;
		padding: 0 rem(5);
		margin-right: rem(6);
		color: #fff;
	}
	.icon-a{
		background-color: #6d98a8;
	}
	.icon-q{
		background-color: #fab900;
	}

	.scene{
		clear: both;
		margin: 1em 0;
		p{
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 0;
		}
		.scene-time{
			font-weight: 300;
		}
	}


	@each $size in $fs {
		[style*="font-size:#{$size}px"],
		[style*="font-size: #{$size}px"]{
			font-size: rem($size) !important;
		}
		[style*="font-size:#{$size}pt"],
		[style*="font-size: #{$size}pt"]{
			font-size: rem($size+4) !important;
		}
	}
	@include mob {
		font-size: rem(17);
		line-height: em(27, 17);
	}
}


$_selection : #b5d6fd;
$_border_color: #dcdee2;
::-moz-selection {
	background: $_selection;
	color: color.$color-text-b;
 }
::selection {
	background: $_selection;
	color: color.$color-text-b;
}

.editor{
	&_writer{
		#editorWriter{
			overflow-x: hidden;
		}
		.editorWriter_box{
			min-height: 686px;
			background-color: #fff;
			border: 1px solid #dcdee2;
			border-radius: rem(3);
			padding:rem(120) rem(60) rem(60);
		}
		&{
			position: relative;
			font-family: 'Roboto','Noto Sans KR', sans-serif;
		}
		.ew{
			&_m{
				&_btn{
					&_box{
						position: absolute;
						right:100%;
						top:0;
						width: rem(70);
						&.fixed{
							position: fixed;
						}
					}
					&{
						width: em(70, 26);
						height: em(45, 26);
						font-size: rem(26);
						vertical-align: middle;
						text-align: center;
						button{
							width: 100%;
							height: 100%;
							font-size: inherit;
							>span{
								position: relative;
							}
							&.act, &:hover{
								color: #e2392f;
							}
						}
					}
				}
			}
			&_f{
				&_btn{
					&_box{
						position: absolute;
						left:0;
						top:0;
						height: rem(40);
						width: auto;
						font-size: 0;
						white-space: nowrap;
						z-index: 1;
						display: none;
						&.fixed{
							position: fixed;
						}
					}
					&{
						display: inline-block;
						min-width: em(40, 18);
						height: em(40, 18);
						font-size: rem(18);
						text-align: center;
						border-top: 1px solid #222222;
						border-right: 1px solid $_border_color;
						border-bottom: 1px solid $_border_color;
						background-color: #ffffff;
						color: #666666;
						vertical-align: middle;
						button{
							width: 100%;
							height: 100%;
							font-size: inherit;
							>span{
								position: relative;
							}
							&:hover{
								background-color: #f7f7f7;
							}
						}
						&:first-child{
							border-left: 1px solid $_border_color;
						}
						.iconFt_txt-tit{
							margin:0 em(10, 32);
							font-size: em(32, 18);
						}
						.iconFt_txt-head{
							margin:0 em(6, 38);
							font-size: em(38, 18);
						}

					}
				}
			}
		}
	}
}
//광고
.editor{
    &::after{
        content: '';
        display: block;
        clear: both;
    }
    &_arcad_right{
		//margin-top: 1em;
		margin-bottom: 1em;
		//width: rem(290);
        float: right;   
        margin-left:rem(40);
		.arcad{
			max-width: none;
		}
    }
    &_arcad_left{
		//margin-top: 1em;
		margin-bottom: 1em;
		//width: rem(290);
        float: left;   
        margin-right:rem(40);
		.arcad{
			max-width: none;
		}
    }
	@include mob{
		&_arcad_right{
			//width: rem(270);
			margin-left:0;
		}
		&_arcad_left{
			//width: rem(270);
			margin-right:0;
		}
	}
}

#btnColorsBox{
	position: relative;
	.__font_color{
		&_wrap{
			position: absolute;
			top:100%;
			left:0px;
			transform: translateX(-0.5px);
			padding: rem(11) rem(12);
			background-color: #ffffff;
			border: 1px solid $_border_color;
			width: rem(74);
			display: none;
			font-size: 0;
		}
		&{
			width: rem(22);
			height: rem(22);
			margin-bottom: rem(5);
			display: block;
			border-radius: 100%;
			background-color: #ddd;
			&:nth-child(2n){
				margin-left: auto;
				margin-top: rem(-27);
			}
		}
	}
}
