@use 'common/' as *;
@use 'common/color' as color;
@use 'components/flex/mixin' as flex;
@use 'components/icon/mixin' as icon;
@use 'components/button/mixin' as btn;


.top_tab_btn{
    &s{
      font-size: rem(14);
      margin-left: em(27,14);
    }
    &{
        display: inline-block;
        color: #999999;
        margin-left: em(28);
        position: relative;
        padding-bottom: em(2, 14);
        letter-spacing: -0.05em;
    }
    &::before{
        content:'';
        position: absolute;
        display: none;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: #222222;
    }
    &:hover{
        color: #222222;
    }
    &.on{
        color: #222222;
        &::before{
            display: block;
        }
    }
}

.edit_info_box{
    &_wrap{
        position: relative;
        z-index: 1;
    }
    &{
        position: absolute;
        top:50%;
        right:100%;
        background-color: #1f2532;
        font-size: rem(14);
        width: em(270, 14);
        padding: em(7 ,14) 0;
        border-radius: em(5, 14);
        box-shadow: 2px 3.464px 16px 0px rgba(0, 0, 0, 0.3);
    }
    &_close{
        display: block;
        position: absolute;
        top:0;
        right:0;
        transform: translate(50%, -50%);
        width: em(25,14);
        height: em(25,14);
        border-radius: 100%;
        overflow: hidden;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px'%3E%3Cpath fill-rule='evenodd' stroke-width='1px' stroke='rgb(248, 249, 251)' fill='rgb(238, 81, 81)' d='M12.500,3.499 C17.470,3.499 21.499,7.529 21.499,12.499 C21.499,17.470 17.470,21.499 12.500,21.499 C7.529,21.499 3.499,17.470 3.499,12.499 C3.499,7.529 7.529,3.499 12.500,3.499 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M14.828,14.121 L14.121,14.828 L11.999,12.706 L9.878,14.828 L9.171,14.121 L11.292,11.999 L9.171,9.878 L9.878,9.171 L11.999,11.292 L14.121,9.171 L14.828,9.878 L12.707,11.999 L14.828,14.121 Z'/%3E%3C/svg%3E");
        background-size: em(25, 14);
    }
    ul{
        width: 100%;
        display: table;
        table-layout: fixed;
        li{
            display: table-row;
            > *{
                display: table-cell;
                height: em(35, 14);
                padding-left: em(20, 14);
                vertical-align: middle;
                text-align: left;
            }
            b{
                width: em(70, 14);
                color: #ffffff;
                font-weight: 400;
            }
            span{
                font-weight: 400;
                color: #afb2b9;
            }
        }
    }
}

.table_box {
    .page_wrap{
        border-top: 1px solid #ebeef2;
        padding:em(32.5, 14) 0;
    }
}

.area_box{
    .area_con_box{
        &.ptbl_0{
            padding: 0;
        }
        .table_box:not(.ty_counting) {
            border: 0;
        }
        .table_box {
            margin-left: -1px;
            margin-right: -1px;
        }
    }
    .file_box{
        &.fm_full{
            flex-wrap: nowrap;
            .file_con{
                flex: 1 1 auto;
                width: 70%;
                max-width: 70%;
                height: rem(32);
                padding-left: rem(90);
                .file{
                    background-color: #a6acb6;
                    border-color: #a6acb6;
                    width: rem(88);
                    height: rem(32);
                }
                +.create_box{
                    flex: 1 1 auto;
                    width: 30%;
                    margin-left: 0;
                    padding-left: em(10, 14);
                    .btn{
                        height: rem(32);
                        line-height: rem(30);
                    }
                }
            }
        }
    }
}
.area_con_box{
    .row.wp_30.wp_st_2{
        margin-top: rem(-20);
        > [class*=col_] {
            padding-top:rem(20);
        }
    }

}

.scroll_box{
    border: 1px solid color.$color-border2;
    height:rem(63);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: rem(7);
    padding-left: rem(10);
    .serial_wrap{
        overflow: hidden;
        height: auto;
    }
}

.file_upload_click_box{
    height: rem(200);
    border: 1px solid color.$color-border2;
    border-radius: rem(3);
    background: #ffffff no-repeat center center;
    background-image: url(../images/file_upload_click.png);
    // width: 100% !important;
}


.find_btn_box{
    @include flex.flex-box();
    @include flex.flex-direction(row);
    @include flex.flex-wrap (nowrap);
    @include flex.align-items(stretch);
    width: 100%;
    height: rem(30);
    .btn{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 100% !important;
        flex: 1 1 auto;
        width: 25%;
        transform: none !important;
    }
    .inp{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex: 3 3 auto;
        width: 75%;
        height: 100% !important;
    }
}


.progress_round_wrap {
    display: none;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    .progress {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 8rem;
        height: 8rem;
        circle {
            stroke: #e2392f;
            stroke-width: 2
        }
    }
    .progress_num {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        font-size: 1.25rem;
        font-weight: 700;
        color: #fff;
    }
}
