@charset "UTF-8";
html, body {
  margin: 0;
  height: 100%;
  overflow: visible;
}

.container {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  word-break: keep-all;
}

img {
  max-width: 100%;
}

.scrollbar-thumb {
  cursor: pointer;
}

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  transition: height 0.3s;
}
.header.__fixed {
  border-bottom: 1px solid #ddd;
  height: 5rem;
  background-color: #fff;
}
.header .row, .header .wrap_1780 {
  height: 100%;
}
.header_right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .header, .header.__fixed {
    height: 5rem;
  }
}
@media screen and (max-width: 800px) {
  .header, .header.__fixed {
    height: 3.75rem;
  }
}

.logo {
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo a {
  display: block;
}
.logo img, .logo svg {
  display: block;
  height: 1.875rem;
  transition: opacity 0.3s;
}
.header.__fixed .logo, .sub .header .logo {
  background: 50% 50% no-repeat;
  background-size: 100% auto;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='210' height='50' viewBox='0 0 210 50'%3E%3Cpath d='M37.7 33.8c-.6.8-1.4 1.2-2.4 1.2h-2c-.4 0-.7-.1-.9-.3s-.3-.5-.3-.9V7c0-1-.4-1.8-1.3-2.2-.9-.5-1.6-.8-2.1-1.1-.4-.3-.6-.6-.5-1 .2-.6.5-.8.8-.7l8.7 1c.5.1.8.2.9.5.1.3.1.4.1.5v27c0 1-.3 2-1 2.8M9.9 9.5v12c0 .6.1 1.1.2 1.5.2.4.7.5 1.7.5h4.4c.9 0 1.5-.2 1.7-.5.2-.3.3-.8.3-1.5v-12H9.9zm6.6 22.1s.2.1.5.2.4.4.4 1v7.3c0 1.1.2 1.9.5 2.3.3.5 1.1.7 2.3.7h17.2c1.3 0 2 .5 2 1.6s-.7 1.6-2 1.6h-22c-.9 0-1.9-.3-3-.9s-1.7-1.8-1.7-3.7V35c0-.8-.4-1.4-1.2-1.7-.8-.4-1.4-.6-1.8-.8-.5-.3-.7-.6-.6-1 .2-.4.4-.6.7-.6l8.7.7zm7-5.7c-.8.6-1.9.9-3.1.9h-13c-1.2 0-2.2-.3-3.1-.9-.8-.6-1.2-1.6-1.2-3.1V11.2c0-.7-.1-1.3-.3-1.7-.2-.4-.5-.8-.9-1-.4-.3-.9-.5-1.3-.7-.4-.2-.6-.4-.6-.6 0-.2 0-.4.1-.6.1-.2.3-.3.6-.3h23c.4 0 .6.1.7.2.1.1.2.4.2.8v15.5c.1 1.5-.3 2.5-1.1 3.1M58.4 43c1.4 1.1 3.1 1.6 4.9 1.6 1.8 0 3.4-.5 4.9-1.6 1.5-1.1 2.2-2.5 2.2-4.3 0-1.8-.7-3.2-2.2-4.3-1.5-1.1-3.1-1.7-4.9-1.7-1.9 0-3.5.6-4.9 1.7-1.4 1.1-2.2 2.6-2.2 4.3.1 1.8.8 3.2 2.2 4.3m-2.5-25.7c-2.7 1.2-5.6 2.2-8.5 2.8-.8.2-1.4 0-1.9-.6-.4-.5-.2-1 .7-1.5 3.6-1.7 6.6-3.5 9-5.5 2.4-2 3.8-3.6 4.3-4.8h-8.8c-.9 0-1.4-.1-1.5-.2-.2-.1-.4-.3-.6-.6l-1.6-2c-.3-.6-.3-1 0-1.3.3-.3.7-.3 1.1-.1.9.4 1.7.6 2.4.7.7.1 1.6.1 2.4.1h24.9c1.5 0 2.2.6 2.2 1.7s-.7 1.7-2.2 1.7h-9.5c-.2.5-.5 1.1-1 1.6-.4.5-.9 1.1-1.4 1.6 1.3.5 2.3.8 3.1 1 .8.2 1.6.4 2.5.5 1.1.2 2 .3 2.6.2.6 0 1.2.1 1.6.3 1.3.6 2.5 1.5 3.7 2.6 1.1 1.1 1.6 2.2 1.3 3.2-.2.6-.5 1-1.1 1.2-.5.2-1.4.2-2.5.1-1.8-.3-3.8-1-6.2-2.2-2.4-1.2-5-2.8-7.8-4.6-2.1 1.6-4.5 2.9-7.2 4.1m-10.6 9.3c-.9 0-1.4-.1-1.5-.2-.2-.1-.4-.3-.6-.6l-1.6-2c-.3-.6-.3-1 0-1.3.3-.3.7-.3 1.1-.1.8.4 1.5.6 2 .7.5.1 1.5.1 2.8.1h35.9c1.4 0 2.2.6 2.2 1.7s-.7 1.7-2.2 1.7H67v3c2.8.4 5.2 1.4 7.3 2.9 2.1 1.5 3.1 3.6 3.1 6.1 0 3-1.5 5.3-4.5 6.9-3 1.6-6.2 2.4-9.6 2.4s-6.7-.8-9.6-2.4c-3-1.6-4.5-3.9-4.5-6.9 0-2.5 1.1-4.6 3.2-6.1s4.6-2.5 7.4-2.9v-3H45.3zM97.5 21.3c1 1.6 2.3 2.4 4 2.4 1.6 0 3-.8 4-2.4 1.1-1.6 1.6-3.4 1.6-5.3s-.5-3.7-1.6-5.2-2.4-2.2-4-2.2-2.9.7-3.9 2.2S96 14 96 16s.5 3.7 1.5 5.3m12.4-13.2c2.4 2.2 3.6 4.8 3.6 7.9 0 3.1-1.2 5.7-3.6 7.9s-5.2 3.3-8.4 3.3-5.9-1.1-8.2-3.3-3.4-4.8-3.4-7.9c0-3.1 1.1-5.7 3.4-7.9s5-3.3 8.2-3.3 6 1.1 8.4 3.3m4.2 25.3c1.9-.2 3.5-.7 4.7-1.5V7c0-1-.4-1.8-1.3-2.2-.9-.5-1.6-.8-2.1-1.1-.4-.3-.6-.6-.5-1 .1-.4.4-.6.7-.6l8.6 1c.5.1.8.2.9.5.1.3.1.4.1.5V44c0 1-.3 2-1 2.8-.6.8-1.4 1.2-2.4 1.2H120c-.4 0-.7-.1-.9-.3-.2-.2-.3-.5-.3-.9V35.1c-1 .8-2.4 1.3-4.1 1.6-1.7.3-3.9.4-6.7.4H90c-.7 0-1.1 0-1.4-.1-.2 0-.5-.2-.7-.5L86.2 34c-.3-.4-.3-.7 0-1 .3-.3.6-.4 1.1-.2.7.4 1.4.6 2.1.7.7.1 1.6.2 2.8.2H107c2.8 0 5.2-.1 7.1-.3M142.2 23.7c-2.8 1.9-5.8 3.4-8.9 4.6-1 .4-1.6.3-1.9-.4-.2-.6 0-1.2.6-1.6 3.6-2.3 7-5.3 10.1-8.8 3.1-3.5 4.8-6.5 5.1-8.9.1-.8-.2-1.3-.8-1.7-.6-.4-1.2-.7-1.8-.9-.4-.1-.5-.5-.6-1 0-.5.3-.8.8-.7l10 .8c.7.1 1.2.4 1.3.9.1.5.1 1.1 0 1.6-.3 1.1-.7 2.3-1.4 3.6-.7 1.2-1.6 2.5-2.7 3.8 1.6 1 2.9 1.8 3.9 2.2 1 .5 2 .8 3.1 1.1 1 .2 1.9.4 2.6.4.7.1 1.3.3 1.8.6 1.3.9 2.5 2.1 3.5 3.5 1.1 1.4 1.4 2.5 1 3.4-.3.5-.7.9-1.3 1.1-.6.2-1.4.1-2.6-.3-1.9-.7-4.2-1.8-6.7-3.3-2.5-1.5-5.1-3.6-7.9-6.2-2 2.4-4.4 4.3-7.2 6.2m4.2 8c0-1-.2-1.7-.5-2.1-.4-.3-.8-.7-1.5-1.1-.7-.3-.9-.7-.7-1.1.2-.4.5-.6.8-.6l7.8.7c.3 0 .6.2.6.4.1.2.1.4.1.6v9.8h16.8c1.4 0 2.2.6 2.2 1.8 0 1.2-.7 1.8-2.2 1.8h-37.6c-.9 0-1.4-.1-1.7-.2-.3-.1-.5-.4-.7-.7l-1.5-2.4c-.3-.6-.3-1 0-1.3.3-.3.7-.3 1.1-.1.8.4 1.5.7 2.1.9.6.2 1.5.3 2.9.3h12v-6.7zM209 46.6c-.6.8-1.4 1.2-2.4 1.2h-1.8c-.4 0-.7-.1-.9-.3-.2-.2-.3-.5-.3-.9v-15c-1.3 1-2.9 1.6-4.8 2-1.9.4-4.4.5-7.5.5H181c-1.4 0-2.5-.4-3.4-1-.9-.7-1.3-1.9-1.3-3.6v-6.4c0-1.3-.5-2-1.5-2.3-1-.3-1.5-.6-1.5-1.1 0-.4.1-.6.2-.6.1-.1.3-.1.6-.1h16v-8.5h-13c-.2 0-.4-.2-.6-.5l-1.7-2.3c-.3-.3-.3-.7-.1-1.1.2-.4.5-.4 1-.2.7.4 1.4.6 2 .7.6.1 1.3.1 2.2.1H196c.4 0 .6.1.7.2s.2.4.2.8v11.7c0 .6-.2 1.1-.6 1.5-.4.4-.9.7-1.4.7h-11.7v7c0 .6.2 1.1.5 1.4.3.3.8.5 1.4.5h5.1c3 0 5.7-.1 8.1-.3 2.3-.2 4.1-.9 5.4-1.9V7c0-1-.4-1.8-1.3-2.2-.9-.5-1.6-.8-2.1-1.1-.5-.3-.6-.6-.5-1 .1-.4.4-.6.7-.6l8.6 1c.5.1.8.2.9.5v40.3c0 1-.3 1.9-1 2.7'/%3E%3C/svg%3E");
  /* IE만 적용 */
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header.__fixed .logo, .sub .header .logo {
    background-image: url(../images/company/logo_on.png);
  }
}
.header.__fixed .logo img, .header.__fixed .logo svg, .sub .header .logo img, .sub .header .logo svg {
  opacity: 0.001;
}

@media screen and (max-width: 800px) {
  .logo img, .logo svg {
    height: 1.5625rem;
  }
}

.allmenu {
  display: none;
}
.allmenu svg {
  position: relative;
  display: block;
  overflow: visible;
}
.allmenu, .allmenu svg {
  width: 1.875rem;
  height: 0.9375rem;
}
.header.__fixed svg path, .sub .header svg path {
  fill: #222222 !important;
}

@media screen and (max-width: 1024px) {
  .allmenu {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .allmenu, .allmenu svg {
    width: 1.25rem;
    height: 0.625rem;
  }
}

.gnb_wrap {
  height: 100%;
}
.gnb {
  font-size: 1rem;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -1.25rem;
}
.gnb li {
  font-size: 1.125em;
  padding-left: 1.3888888889rem;
  padding-right: 1.3888888889rem;
  position: relative;
}
.gnb li a {
  display: block;
}
.gnb li > ul {
  display: none;
  position: absolute;
  top: 3.1875rem;
  right: 0;
  background-color: #fff;
  color: #222;
  padding: 1.25em;
  border: 1px solid #ddd;
}
.gnb li > ul > li {
  padding: 0;
  margin-top: 0.625rem;
}
.gnb li > ul > li:first-child {
  margin-top: 0;
}
.gnb li > ul > li a {
  font-size: 0.7777777778em;
}
.gnb_wrap_mo {
  display: none;
}
.header.__fixed .gnb, .sub .header .gnb {
  color: #222;
  margin-right: -0.625rem;
}
.header.__fixed .gnb li, .sub .header .gnb li {
  padding-left: 0.8333333333rem;
  padding-right: 0.8333333333rem;
}
.header.__fixed .gnb li > ul > li, .sub .header .gnb li > ul > li {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1024px) {
  .gnb {
    display: none;
  }
  .gnb_wrap_mo {
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 3000;
    font-size: 1rem;
    transform: translate(-120%);
    transition: transform 0.3s;
  }
  .gnb_wrap_mo.on {
    transform: translate(0);
  }
  .gnb_wrap_mo a {
    display: inline-block;
    position: relative;
    transition: color 0.3s;
  }
  .gnb_wrap_mo a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s;
    background-color: #f33d32;
  }
  .gnb_wrap_mo a:hover {
    color: #f33d32;
  }
  .gnb_wrap_mo a:hover::before {
    width: 100%;
  }
  .gnb_wrap_mo > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: -1.875em;
  }
  .gnb_wrap_mo li {
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1.5em;
  }
  .gnb_wrap_mo li > ul {
    display: none;
  }
  .gnb_wrap_mo li > ul li {
    font-size: 1rem;
    margin-top: 1.6666666667em;
    color: #666666;
    font-weight: 300;
  }
  .gnb_mo_close {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 1em;
    width: 1em;
    font-size: 1.25rem;
  }
}

.con {
  letter-spacing: -0.05em;
  overflow: hidden;
}

.location {
  font-size: 0.875rem;
  line-height: 1.2857142857em;
  overflow: hidden;
  margin-bottom: 4.6428571429em;
}
.location_depth1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  transform: translateX(-1.5714285714em);
}
.location_depth1 > li {
  padding-left: 1.5714285714em;
  color: #666666;
  position: relative;
  background-position: top 50% left 0.7857142857em;
  background-size: 0.2142857143em auto;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Cpath d='M1.5 0C2.3 0 3 0.7 3 1.5 3 2.3 2.3 3 1.5 3 0.7 3 0 2.3 0 1.5 0 0.7 0.7 0 1.5 0Z' fill='rgb(0, 0, 0)'/%3E%3C/svg%3E");
}
.location_depth1 > li a {
  display: block;
}
.location_depth1 > li:last-child {
  color: #ed3d30;
}
.location_depth1 > li:last-child a {
  padding-right: 1.7142857143em;
  position: relative;
}
.location_depth1 > li:last-child a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1.5714285714em;
  height: 1.5714285714em;
  background: no-repeat 50% 50%;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ed3d30'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z'/%3E%3C/svg%3E");
  transform: translateY(-50%) rotate(90deg);
  transform-origin: center center;
}
@media screen and (max-width: 800px) {
  .location {
    display: none;
  }
}

.footer {
  background-color: #111111;
  color: #666666;
  padding-top: 4.6875em;
  padding-bottom: 7.0625em;
  font-size: 1rem;
  font-family: "Montserrat", "Noto Sans KR", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Helvetica Neue", "Helvetica", "Arial", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol", sans-serif;
}
.footer_info_link {
  font-size: 0;
  overflow: hidden;
}
.footer_info_link li {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 2em;
  padding-left: 3.5714285714em;
  transform: translateX(-3.5714285714em);
}
.footer_info_link li::before {
  content: "•";
  position: absolute;
  width: 1em;
  text-align: center;
  display: block;
  top: 50%;
  left: 1.2142857143em;
  font-weight: 700;
  transform: translateY(-55%);
}
.footer_info {
  color: #fff;
  font-size: 0;
  overflow: hidden;
  letter-spacing: -0.01em;
  margin-top: 1.5rem;
  font-weight: 300;
}
.footer_info li {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 2em;
  padding-left: 2.1428571429em;
  transform: translateX(-2.1428571429em);
}
.footer_info li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 0.8571428571em;
  background-color: #fff;
  top: 50%;
  left: 1.0714285714em;
  transform: translateY(-50%);
}
.footer_copy {
  font-size: 0.875rem;
  line-height: 2em;
  margin-top: 1.6428571429em;
  letter-spacing: 0.01em;
}
.footer .btn {
  font-size: 1.125rem;
  width: 12.7777777778em;
  height: 3.3333333333em;
  line-height: 3.2222222222em;
  padding-left: 0.5555555556em;
  padding-right: 0.5555555556em;
  letter-spacing: -0.05em;
  background-repeat: no-repeat;
  background-position: top 50% left calc(50% - 4.1666666667em );
  background-size: 2.1666666667em auto;
  background-image: url(../images/company/ms_icon.jpg);
  padding-left: 2.5em;
  margin-bottom: 2.2222222222em;
}
@media screen and (max-width: 1024px) {
  .footer .btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    padding-top: 1.09375em;
    padding-bottom: 3.125em;
  }
  .footer_info_link li {
    font-size: 0.75rem;
    line-height: 2.3333333333em;
    padding-left: 1.6666666667em;
    transform: translateX(-1.6666666667em);
    letter-spacing: -0.05em;
  }
  .footer_info_link li::before {
    left: 0.4166666667em;
    transform: translateY(-55%);
  }
  .footer_info {
    margin-top: 0.75rem;
  }
  .footer_info li {
    font-size: 0.75rem;
    line-height: 1.6666666667em;
    padding-left: 2.0833333333em;
    transform: translateX(-2.0833333333em);
  }
  .footer_info li::before {
    height: 1em;
    left: 1em;
    transform: translateY(-50%);
  }
  .footer_copy {
    font-size: 0.6875rem;
    line-height: 1.5454545455em;
    margin-top: 2.0909090909em;
  }
  .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer .btn {
    font-size: 0.9375rem;
    width: 15.3333333333em;
    height: 3.0666666667em;
    line-height: 2.9333333333em;
    padding-left: 0.6666666667em;
    padding-right: 0.6666666667em;
    padding-left: 2em;
    margin-bottom: 1.3333333333em;
  }
}
@media screen and (max-width: 601px) {
  .footer_info_link {
    white-space: nowrap;
  }
  .footer .btn {
    width: 100%;
  }
}

@media print {
  html, body {
    height: auto;
    overflow: visible !important;
  }

  .header, .footer, .location {
    display: none;
  }

  .container {
    overflow: visible !important;
    position: relative !important;
    height: auto !important;
    transform: none !important;
  }

  .sc_ani {
    opacity: 1 !important;
    transform: none !important;
  }

  .scrollbar-track {
    display: none !important;
  }

  .scroll-content {
    transform: none !important;
  }
}

/*# sourceMappingURL=company_layout.css.map */
