@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.editor, #editorWriter {
  color: #3c3e40;
  overflow-x: auto;
  max-width: 100%;
  font-size: 1.125rem;
  line-height: 1.8888888889em;
  letter-spacing: -0.01em;
  word-break: break-all;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  width: 100%;
}
.editor h1, .editor h2, .editor h3, .editor h4, .editor h5, #editorWriter h1, #editorWriter h2, #editorWriter h3, #editorWriter h4, #editorWriter h5 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: bold !important;
}
.editor table, #editorWriter table {
  background: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}
.editor table td, .editor table th, #editorWriter table td, #editorWriter table th {
  border: 1px solid #ddd;
  padding: 0.3333333333em;
  height: 2.7777777778em;
  vertical-align: middle;
}
.editor table th, #editorWriter table th {
  font-weight: 500;
  background: #f7f7f7;
}
.editor ol, #editorWriter ol {
  list-style: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
}
.editor ol > li, #editorWriter ol > li {
  margin-top: 0.25em;
  list-style: decimal;
  margin-left: 1.25em;
  padding-left: 0 !important;
}
.editor ol > li a, #editorWriter ol > li a {
  text-decoration: none;
  font-style: normal !important;
}
.editor ol > li:first-child, #editorWriter ol > li:first-child {
  margin-top: 0;
}
.editor ul, #editorWriter ul {
  list-style: disc;
  margin-top: 1em;
  margin-bottom: 1em;
}
.editor ul > li, #editorWriter ul > li {
  margin-top: 0.25em;
  list-style: disc;
  margin-left: 1.25em;
  padding-left: 0 !important;
}
.editor ul > li a, #editorWriter ul > li a {
  text-decoration: none;
  font-style: normal !important;
}
.editor ul > li:first-child, #editorWriter ul > li:first-child {
  margin-top: 0;
}
.editor a, #editorWriter a {
  color: #999;
  text-decoration: underline;
  font-style: italic;
}
.editor a:hover, #editorWriter a:hover {
  color: #222;
  text-decoration: underline;
}
.editor h1, #editorWriter h1 {
  font-size: 1.25rem;
  line-height: 1.5em;
  padding: 0.7em 0;
  font-weight: 500;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  border-top: 1px solid #111;
  border-bottom: 1px solid #e5e5e5;
}
.editor h2, #editorWriter h2 {
  position: relative;
  font-size: 1.125rem;
  padding-left: 1em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}
.editor h2::before, #editorWriter h2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  background-color: #111;
  width: 0.1666666667em;
  left: 0;
}
.editor hr, #editorWriter hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px dashed #111;
}
.editor i, #editorWriter i {
  font-family: inherit !important;
  font-style: italic !important;
  font-weight: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: inherit !important;
}
.editor p, #editorWriter p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.editor blockquote, .editor .editor_blockquote, #editorWriter blockquote, #editorWriter .editor_blockquote {
  clear: both;
  border: 1px solid #e5e5e5;
  padding: 4rem 1.875rem;
  margin: 0 1.25rem;
  position: relative;
}
.editor blockquote a, .editor .editor_blockquote a, #editorWriter blockquote a, #editorWriter .editor_blockquote a {
  text-decoration: none;
  font-style: normal !important;
}
.editor blockquote::before, .editor blockquote:after, .editor .editor_blockquote::before, .editor .editor_blockquote:after, #editorWriter blockquote::before, #editorWriter blockquote:after, #editorWriter .editor_blockquote::before, #editorWriter .editor_blockquote:after {
  content: "";
  color: rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  top: 1.1875rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  opacity: 0.7;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23000' d='M230.329 893.571c-69.375 0-124.876-24.976-166.503-74.928s-63.826-113.778-63.826-194.255c0-105.453 30.525-202.58 91.579-291.383s138.754-158.177 227.556-202.58l16.651 33.301c-38.85 30.525-72.152 69.375-102.676 113.778-30.525 47.176-52.725 105.453-63.826 172.055l58.277 13.874c66.603 13.874 116.551 41.627 152.628 83.253 36.074 38.85 55.501 88.802 55.501 144.303 0 61.050-19.427 108.225-61.050 144.303-38.85 38.85-86.026 58.277-144.303 58.277zM818.639 893.571c-69.375 0-124.876-24.976-166.503-74.928s-63.826-113.778-63.826-194.255c0-105.453 30.525-202.58 91.579-291.383s138.754-158.177 227.556-202.58l16.651 33.301c-38.85 30.525-72.152 69.375-102.676 113.778-30.525 47.176-52.725 105.453-63.826 172.055l58.277 13.874c66.603 13.874 116.551 41.627 152.628 83.253 36.074 38.85 55.501 88.802 55.501 144.303 0 61.050-19.427 108.225-61.050 144.303-38.85 38.85-86.026 58.277-144.303 58.277z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100% auto;
  background-position: 50% 50%;
}
.editor blockquote:after, .editor .editor_blockquote:after, #editorWriter blockquote:after, #editorWriter .editor_blockquote:after {
  top: auto;
  bottom: 1.1875rem;
  transform: translateX(-50%) scaleY(-1) scaleX(-1);
}
.editor .editor_box, .editor .news_box_article, #editorWriter .editor_box, #editorWriter .news_box_article {
  clear: both;
  position: relative;
  font-size: 1.125rem;
  padding: 1.375rem 1.875rem 1.5rem;
  margin: 1em 1.25rem;
  border: 1px solid #e5e5e5;
}
.editor .editor_box a, .editor .news_box_article a, #editorWriter .editor_box a, #editorWriter .news_box_article a {
  text-decoration: none;
  font-style: normal !important;
}
.editor .editor_box::before, .editor .news_box_article::before, #editorWriter .editor_box::before, #editorWriter .news_box_article::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 1.6666666667em;
  height: 0.2777777778em;
  width: 3.3333333333em;
  transform: translateY(-50%);
  background-color: #111;
}
.editor .editor_box h3, .editor .news_box_article h3, #editorWriter .editor_box h3, #editorWriter .news_box_article h3 {
  font-weight: bold;
  margin-bottom: 0.8888888889em;
}
.editor .editor_box p, .editor .news_box_article p, #editorWriter .editor_box p, #editorWriter .news_box_article p {
  font-size: 0.8888888889em;
  line-height: 1.75em;
}
.editor .editor_q, .editor .editor_a, #editorWriter .editor_q, #editorWriter .editor_a {
  clear: both;
  border: 1px solid #e5e5e5;
  position: relative;
  text-align: left;
  font-size: 1rem;
  min-height: 3.125em;
  padding: 0.6875em 1.25em 0.6875em 4.375em;
  width: 100%;
  line-height: 1.75em;
  margin-top: 0.625em;
}
.editor .editor_q::before, .editor .editor_a::before, #editorWriter .editor_q::before, #editorWriter .editor_a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125em;
  height: 3.125em;
  background: #e5e5e5 no-repeat 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='15px'%3E%3Ctext kerning='auto' font-family='Gulim' fill='rgb(0, 0, 0)' font-size='16px' x='0px' y='12.0619999999999px'%3E%3Ctspan font-size='16px' font-family='Montserrat' font-weight='bold' fill='%233C3E40'%3EQ%3C/tspan%3E%3C/text%3E%3C/svg%3E");
  background-size: 0.875em auto;
}
.editor .editor_a, #editorWriter .editor_a {
  text-align: right;
  padding: 0.6875em 4.375em 0.6875em 1.25em;
  margin-bottom: 1em;
}
.editor .editor_a::before, #editorWriter .editor_a::before {
  right: 0;
  left: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='11px'%3E%3Ctext kerning='auto' font-family='Gulim' fill='rgb(0, 0, 0)' font-size='16px' x='0px' y='11.0619999999999px'%3E%3Ctspan font-size='16px' font-family='Montserrat' font-weight='bold' fill='%23222222'%3EA%3C/tspan%3E%3C/text%3E%3C/svg%3E");
}
.editor mark, #editorWriter mark {
  background-color: yellow;
  color: black;
}
.editor pre, #editorWriter pre {
  white-space: pre-wrap;
}
.editor figure, .editor .news_photo, #editorWriter figure, #editorWriter .news_photo {
  clear: both;
  margin-top: 0;
  margin-bottom: 1em;
  display: block;
  max-width: 100%;
}
.editor figure + .editor_arcad_left,
.editor figure + .editor_arcad_right, .editor .news_photo + .editor_arcad_left,
.editor .news_photo + .editor_arcad_right, #editorWriter figure + .editor_arcad_left,
#editorWriter figure + .editor_arcad_right, #editorWriter .news_photo + .editor_arcad_left,
#editorWriter .news_photo + .editor_arcad_right {
  margin-top: 1em;
}
.editor figure img, .editor .news_photo img, #editorWriter figure img, #editorWriter .news_photo img {
  display: none;
  max-width: 100%;
  width: auto;
}
.editor figure img:first-child, .editor .news_photo img:first-child, #editorWriter figure img:first-child, #editorWriter .news_photo img:first-child {
  display: block;
}
@media screen and (max-width: 800px) {
  .editor figure img:first-child, .editor .news_photo img:first-child, #editorWriter figure img:first-child, #editorWriter .news_photo img:first-child {
    display: none;
  }
  .editor figure img:nth-last-child(2), .editor .news_photo img:nth-last-child(2), #editorWriter figure img:nth-last-child(2), #editorWriter .news_photo img:nth-last-child(2) {
    display: block !important;
  }
  .editor figure img:last-child, .editor .news_photo img:last-child, #editorWriter figure img:last-child, #editorWriter .news_photo img:last-child {
    display: block !important;
  }
}
.editor figure .photo-img, .editor .news_photo .photo-img, #editorWriter figure .photo-img, #editorWriter .news_photo .photo-img {
  max-width: 100%;
}
.editor figure figcaption, .editor figure .photo_caption, .editor .news_photo figcaption, .editor .news_photo .photo_caption, #editorWriter figure figcaption, #editorWriter figure .photo_caption, #editorWriter .news_photo figcaption, #editorWriter .news_photo .photo_caption {
  display: block !important;
  max-width: 100%;
  font-size: 0.875rem;
  margin-top: 0.3571428571em;
  line-height: 1.7142857143em;
  color: #888;
  display: inline-block;
  font-weight: 300;
}
.editor .news_photo, #editorWriter .news_photo {
  margin-top: 0;
  margin-bottom: -1em;
  clear: both;
}
.editor .photo-view,
.editor .photo-view-btn, #editorWriter .photo-view,
#editorWriter .photo-view-btn {
  display: none;
}
.editor .icon-a, .editor .icon-q, #editorWriter .icon-a, #editorWriter .icon-q {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-right: 0.375rem;
  color: #fff;
}
.editor .icon-a, #editorWriter .icon-a {
  background-color: #6d98a8;
}
.editor .icon-q, #editorWriter .icon-q {
  background-color: #fab900;
}
.editor .scene, #editorWriter .scene {
  clear: both;
  margin: 1em 0;
}
.editor .scene p, #editorWriter .scene p {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.editor .scene .scene-time, #editorWriter .scene .scene-time {
  font-weight: 300;
}
.editor [style*="font-size:8px"],
.editor [style*="font-size: 8px"], #editorWriter [style*="font-size:8px"],
#editorWriter [style*="font-size: 8px"] {
  font-size: 0.5rem !important;
}
.editor [style*="font-size:8pt"],
.editor [style*="font-size: 8pt"], #editorWriter [style*="font-size:8pt"],
#editorWriter [style*="font-size: 8pt"] {
  font-size: 0.75rem !important;
}
.editor [style*="font-size:9px"],
.editor [style*="font-size: 9px"], #editorWriter [style*="font-size:9px"],
#editorWriter [style*="font-size: 9px"] {
  font-size: 0.5625rem !important;
}
.editor [style*="font-size:9pt"],
.editor [style*="font-size: 9pt"], #editorWriter [style*="font-size:9pt"],
#editorWriter [style*="font-size: 9pt"] {
  font-size: 0.8125rem !important;
}
.editor [style*="font-size:10px"],
.editor [style*="font-size: 10px"], #editorWriter [style*="font-size:10px"],
#editorWriter [style*="font-size: 10px"] {
  font-size: 0.625rem !important;
}
.editor [style*="font-size:10pt"],
.editor [style*="font-size: 10pt"], #editorWriter [style*="font-size:10pt"],
#editorWriter [style*="font-size: 10pt"] {
  font-size: 0.875rem !important;
}
.editor [style*="font-size:11px"],
.editor [style*="font-size: 11px"], #editorWriter [style*="font-size:11px"],
#editorWriter [style*="font-size: 11px"] {
  font-size: 0.6875rem !important;
}
.editor [style*="font-size:11pt"],
.editor [style*="font-size: 11pt"], #editorWriter [style*="font-size:11pt"],
#editorWriter [style*="font-size: 11pt"] {
  font-size: 0.9375rem !important;
}
.editor [style*="font-size:12px"],
.editor [style*="font-size: 12px"], #editorWriter [style*="font-size:12px"],
#editorWriter [style*="font-size: 12px"] {
  font-size: 0.75rem !important;
}
.editor [style*="font-size:12pt"],
.editor [style*="font-size: 12pt"], #editorWriter [style*="font-size:12pt"],
#editorWriter [style*="font-size: 12pt"] {
  font-size: 1rem !important;
}
.editor [style*="font-size:14px"],
.editor [style*="font-size: 14px"], #editorWriter [style*="font-size:14px"],
#editorWriter [style*="font-size: 14px"] {
  font-size: 0.875rem !important;
}
.editor [style*="font-size:14pt"],
.editor [style*="font-size: 14pt"], #editorWriter [style*="font-size:14pt"],
#editorWriter [style*="font-size: 14pt"] {
  font-size: 1.125rem !important;
}
.editor [style*="font-size:16px"],
.editor [style*="font-size: 16px"], #editorWriter [style*="font-size:16px"],
#editorWriter [style*="font-size: 16px"] {
  font-size: 1rem !important;
}
.editor [style*="font-size:16pt"],
.editor [style*="font-size: 16pt"], #editorWriter [style*="font-size:16pt"],
#editorWriter [style*="font-size: 16pt"] {
  font-size: 1.25rem !important;
}
.editor [style*="font-size:18px"],
.editor [style*="font-size: 18px"], #editorWriter [style*="font-size:18px"],
#editorWriter [style*="font-size: 18px"] {
  font-size: 1.125rem !important;
}
.editor [style*="font-size:18pt"],
.editor [style*="font-size: 18pt"], #editorWriter [style*="font-size:18pt"],
#editorWriter [style*="font-size: 18pt"] {
  font-size: 1.375rem !important;
}
.editor [style*="font-size:20px"],
.editor [style*="font-size: 20px"], #editorWriter [style*="font-size:20px"],
#editorWriter [style*="font-size: 20px"] {
  font-size: 1.25rem !important;
}
.editor [style*="font-size:20pt"],
.editor [style*="font-size: 20pt"], #editorWriter [style*="font-size:20pt"],
#editorWriter [style*="font-size: 20pt"] {
  font-size: 1.5rem !important;
}
.editor [style*="font-size:22px"],
.editor [style*="font-size: 22px"], #editorWriter [style*="font-size:22px"],
#editorWriter [style*="font-size: 22px"] {
  font-size: 1.375rem !important;
}
.editor [style*="font-size:22pt"],
.editor [style*="font-size: 22pt"], #editorWriter [style*="font-size:22pt"],
#editorWriter [style*="font-size: 22pt"] {
  font-size: 1.625rem !important;
}
.editor [style*="font-size:24px"],
.editor [style*="font-size: 24px"], #editorWriter [style*="font-size:24px"],
#editorWriter [style*="font-size: 24px"] {
  font-size: 1.5rem !important;
}
.editor [style*="font-size:24pt"],
.editor [style*="font-size: 24pt"], #editorWriter [style*="font-size:24pt"],
#editorWriter [style*="font-size: 24pt"] {
  font-size: 1.75rem !important;
}
.editor [style*="font-size:26px"],
.editor [style*="font-size: 26px"], #editorWriter [style*="font-size:26px"],
#editorWriter [style*="font-size: 26px"] {
  font-size: 1.625rem !important;
}
.editor [style*="font-size:26pt"],
.editor [style*="font-size: 26pt"], #editorWriter [style*="font-size:26pt"],
#editorWriter [style*="font-size: 26pt"] {
  font-size: 1.875rem !important;
}
.editor [style*="font-size:28px"],
.editor [style*="font-size: 28px"], #editorWriter [style*="font-size:28px"],
#editorWriter [style*="font-size: 28px"] {
  font-size: 1.75rem !important;
}
.editor [style*="font-size:28pt"],
.editor [style*="font-size: 28pt"], #editorWriter [style*="font-size:28pt"],
#editorWriter [style*="font-size: 28pt"] {
  font-size: 2rem !important;
}
.editor [style*="font-size:36px"],
.editor [style*="font-size: 36px"], #editorWriter [style*="font-size:36px"],
#editorWriter [style*="font-size: 36px"] {
  font-size: 2.25rem !important;
}
.editor [style*="font-size:36pt"],
.editor [style*="font-size: 36pt"], #editorWriter [style*="font-size:36pt"],
#editorWriter [style*="font-size: 36pt"] {
  font-size: 2.5rem !important;
}
.editor [style*="font-size:48px"],
.editor [style*="font-size: 48px"], #editorWriter [style*="font-size:48px"],
#editorWriter [style*="font-size: 48px"] {
  font-size: 3rem !important;
}
.editor [style*="font-size:48pt"],
.editor [style*="font-size: 48pt"], #editorWriter [style*="font-size:48pt"],
#editorWriter [style*="font-size: 48pt"] {
  font-size: 3.25rem !important;
}
@media screen and (max-width: 800px) {
  .editor, #editorWriter {
    font-size: 1.0625rem;
    line-height: 1.5882352941em;
  }
}

::-moz-selection {
  background: #b5d6fd;
  color: #222222;
}

::selection {
  background: #b5d6fd;
  color: #222222;
}

.editor_writer #editorWriter {
  overflow-x: hidden;
}
.editor_writer .editorWriter_box {
  min-height: 686px;
  background-color: #fff;
  border: 1px solid #dcdee2;
  border-radius: 0.1875rem;
  padding: 7.5rem 3.75rem 3.75rem;
}
.editor_writer {
  position: relative;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.editor_writer .ew_m_btn_box {
  position: absolute;
  right: 100%;
  top: 0;
  width: 4.375rem;
}
.editor_writer .ew_m_btn_box.fixed {
  position: fixed;
}
.editor_writer .ew_m_btn {
  width: 2.6923076923em;
  height: 1.7307692308em;
  font-size: 1.625rem;
  vertical-align: middle;
  text-align: center;
}
.editor_writer .ew_m_btn button {
  width: 100%;
  height: 100%;
  font-size: inherit;
}
.editor_writer .ew_m_btn button > span {
  position: relative;
}
.editor_writer .ew_m_btn button.act, .editor_writer .ew_m_btn button:hover {
  color: #e2392f;
}
.editor_writer .ew_f_btn_box {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.5rem;
  width: auto;
  font-size: 0;
  white-space: nowrap;
  z-index: 1;
  display: none;
}
.editor_writer .ew_f_btn_box.fixed {
  position: fixed;
}
.editor_writer .ew_f_btn {
  display: inline-block;
  min-width: 2.2222222222em;
  height: 2.2222222222em;
  font-size: 1.125rem;
  text-align: center;
  border-top: 1px solid #222222;
  border-right: 1px solid #dcdee2;
  border-bottom: 1px solid #dcdee2;
  background-color: #ffffff;
  color: #666666;
  vertical-align: middle;
}
.editor_writer .ew_f_btn button {
  width: 100%;
  height: 100%;
  font-size: inherit;
}
.editor_writer .ew_f_btn button > span {
  position: relative;
}
.editor_writer .ew_f_btn button:hover {
  background-color: #f7f7f7;
}
.editor_writer .ew_f_btn:first-child {
  border-left: 1px solid #dcdee2;
}
.editor_writer .ew_f_btn .iconFt_txt-tit {
  margin: 0 0.3125em;
  font-size: 1.7777777778em;
}
.editor_writer .ew_f_btn .iconFt_txt-head {
  margin: 0 0.1578947368em;
  font-size: 2.1111111111em;
}

.editor::after {
  content: "";
  display: block;
  clear: both;
}
.editor_arcad_right {
  margin-bottom: 1em;
  height: 15.625rem;
  float: right;
  margin-left: 2.5rem;
}
.editor_arcad_right .arcad {
  height: 100%;
  max-width: none;
}
.editor_arcad_left {
  margin-bottom: 1em;
  height: 15.625rem;
  float: left;
  margin-right: 2.5rem;
}
.editor_arcad_left .arcad {
  height: 100%;
  max-width: none;
}
@media screen and (max-width: 800px) {
  .editor_arcad_right {
    height: 12.5rem;
    margin-left: 0;
  }
  .editor_arcad_left {
    height: 12.5rem;
    margin-right: 0;
  }
}

#btnColorsBox {
  position: relative;
}
#btnColorsBox .__font_color_wrap {
  position: absolute;
  top: 100%;
  left: 0px;
  transform: translateX(-0.5px);
  padding: 0.6875rem 0.75rem;
  background-color: #ffffff;
  border: 1px solid #dcdee2;
  width: 4.625rem;
  display: none;
  font-size: 0;
}
#btnColorsBox .__font_color {
  width: 1.375rem;
  height: 1.375rem;
  margin-bottom: 0.3125rem;
  display: block;
  border-radius: 100%;
  background-color: #ddd;
}
#btnColorsBox .__font_color:nth-child(2n) {
  margin-left: auto;
  margin-top: -1.6875rem;
}

/*# sourceMappingURL=editor.css.map */
