@use "sass:math";
@use 'common/' as *;
@use 'common/color' as color;
@use 'components/flex/mixin' as flex;
@use 'components/icon/mixin' as icon;
@use 'components/button/mixin' as btn;
@use 'components/form/mixin' as form;

$_fs :16;

#container{
    overflow: hidden;
}
.header{
    &{
        z-index: 90;
        position: relative;
        font-size: rem(16);
    }
    &_button{
        &s{
            margin-right: auto;
            @include flex.flex-box();
            @include flex.align-items('center');
            transition: all 0.3s;
            transition-delay: 0;
        }
        &_menu{
            width: em(22, 16);
            height: em(22, 16);
            margin-right: em(14, 16);
            svg{
                width: 100%;
                height: auto;    
                overflow: visible;
            }
        }
        &_search{
            width: em(22, 18);
            line-height: em(22, 18);
            font-size: em(18, 16);
        }
    }
    &_top{
        padding: rem(18) rem(30) rem(18);
        @include flex.flex-box();
        @include flex.flex-wrap('nowrap');
        @include flex.align-items('center');
        .header_buttons{
            width: auto;
            margin-right: 0;
        }
        .logo{
            margin-left: rem(10);
            img{
                width: rem(100);
            }
        }
        &_gnb{
            @include flex.flex-box();
            @include flex.flex-wrap('nowrap');
            @include flex.align-items('center');
            margin-left: em(15, 16);
            margin-top: em(-4, 16);
            li{
                display: block;
                color: color.$color-text-b4;
                margin-left: em(10, 15);
                font-size: rem(15);
            }
        }
    }
    &_mid{
        position: relative;
        height: em(120);
        @include flex.flex-box();
        @include flex.align-items('center');
        @include flex.justify-content('center');
        .arcad{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            overflow: hidden;
            &.left{
                left: 0;
            }
            &.right{
                right: 0;
            }
        }
        img{
            max-width: 100%;
        }
    }
    &_bottom{
        border-top: rem(5) solid #000000;
        border-bottom: 1px solid #e5e5e5;
        @include flex.flex-box();
        @include flex.align-items('center');
        @include flex.flex-wrap('nowrap');
    }
    @include tab {
        &_mid{
            height: auto;
            position: absolute;
            left:0%;
            width: 100%;
            top:50%;
            transform: translateY(-50%);
            text-align: center;
            .logo{
                width: rem(200);
            }
            .arcad {
                display: none;
            }
        }
        &_bottom{

            border-top: 0;
            border-bottom: 0;
        }
    }
     
    &_search{
        &_wrap{
            display: none;
            position: absolute;
            top:100%;
            left:0;
            width: 100%;
            background-color: #fff;
            border-bottom:1px solid color.$color-border;
        }
        &_por{
            position: relative;
            padding: rem(50) 0 rem(60);
        }
        &_box{
            position: relative;
            display: block;
            font-size: rem(16);
            margin-left: auto;
            margin-right: auto;
            max-width: em(560);
            width: 100%;
        }
        &_inp{
            @include form.item();
            @include form.placeholder(null, #999999, null);
            @include form.size(16, 560, 50);
            border: 0;
            border-bottom: rem(3) solid #101010;
            font-weight: bold;
            width: 100%;
            padding-left: 0;
            padding-right: em(50, 16);
        }
        &_button{
            position: absolute;
            line-height: em(50, 20);
            font-size: em(20, 16);
            width: em(20, 20);
            text-align: center;
            top:0;
            right:0;
        }
        &_close{
            position: absolute;
            top:rem(15);
            right:0;
        }
    }
    @include mob {
        &_mid{
            .logo{
                width: rem(100);
            }
        }
        &_search{
            &_wrap{
                position: fixed;
                top:rem(60);
                left:0;
                height: calc(100% - #{rem(-60)}) !important;
                &::before{
                    content: '';
                    display: block;
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top:rem(46);
                    left:50%;
                    transform: translateX(-50%);
                    border-bottom: 1px solid color.$color-border;
                }
            }
            &_por{
                padding: rem(80) rem(20) rem(60);
            }
            &_close{
                position: absolute;
                top:rem(15);
                right:0;
                span > span{
                    display: none;
                }
                .tc_b5{
                    color: color.$color-text-b;
                }
                i{
                    font-size: rem(15) !important;
                }
            }
        }
    }
}
.gnb{
    &{
        width: rem(1105);
        @include flex.flex-box();
        @include flex.flex-direction('row');
        @include flex.flex-wrap('nowrap');
        @include flex.align-items('center');
        
        font-weight: normal;
        letter-spacing: -0.025em;   
    }
    &1, &2, &3{
        flex: 0 1 auto;
        position: relative;
        overflow: hidden;
        @include flex.flex-box();
        @include flex.flex-direction('row');
        @include flex.flex-wrap('nowrap');
        @include flex.align-items('center');
        @include flex.justify-content('space-between');
        font-size: rem(16);
        li{
            display: block;
            a{
                padding: em(20, 16) 0;
                line-height: 1;
                display: block;
            }
        }
    }
    &1{
        width: em(365, 16);
        padding-right: em(50, 16);
        font-family: 'GongGothicMedium', sans-serif;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: em(16, 16);
            background-color: #b5b5b5;
            top:50%;
            margin-top:em(-14 * 0.5);
            right: em(25,16)
        }
    }
    &2{
        font-family: 'GongGothicLight', sans-serif;
        width: em(640, 16);
        padding-right: em(50, 16);
        color: #999999;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: em(14);
            background-color: #b5b5b5;
            top:50%;
            margin-top:em(-14 * 0.5);
            right: em(25,16)
        }
    }
    &3{
        width: em(100, 16);
        font-family: 'GongGothicMedium', sans-serif;
    }
    @include tab {
        &{
            position: absolute;
            top: 100%;
            max-width: rem(860);
            left: 50%;
            transform: translateX(-50%);
            margin-top: rem(5);
            width: 100%;
            background-color: #fff;
            padding: 0 rem(20);
            @include flex.justify-content('space-between');
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 100vw;
                height: 100%;
                background-color: #fff;
                top:0;
                left:50%;
                transform: translateX(-50%);
                border-bottom: 1px solid color.$color-border;
            }
            > &{
                position: relative;
                z-index: 1;
            }
        }
        &1{
            padding-right: 0;
            width: math.div(240, 335) * 100%;
            &::after{
                display: none;
            }
            li{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        &3{
            width: math.div(78, 335) * 100%;
            li{
                margin-left: auto;
                margin-right: auto;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &2{
            display: none;
        }
    }
    @include mob {
        &{
            max-width: rem(600);
        }
        &1, &2, &3{
            font-size: rem(13);
            li{
                display: block;
            }
        }
    }
}
.all_menu{
    width: em(60);
    margin-left: auto;
}
.con{
    img{
        max-width: 100%;
    }
}

.amb{
    &_wrap{
        font-size: rem(16);
        letter-spacing: -0.05em;
        @include flex.flex-box();
        @include flex.flex-direction('column');
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 3010;
        display: none;
        overflow-y: auto;
    }
    &_mask{
        z-index: 3010;
        display: none;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    &_top{
        position: absolute;
        width: 100%;
        top:0;
        left:0;
        height:em(98, 16);
        padding: 0 em(40, 16);
        @include flex.flex-box();
        @include flex.align-items('center');
        a{
            font-size: em(20, 16);
            line-height: em(22, 20);
            padding-left: em(30, 20);
            background-repeat: no-repeat;
            background-position: top 50% left 0;
            background-size: em(22, 20) auto;
            background-image: url(../images/company/ms_icon.jpg);
            i{
                font-size: em(11, 20);
                line-height: em(22, 10);
                vertical-align: middle;
            }
        }
    }
    &_box{
        position: absolute;
        top:0;
        left:0;
        width: 60%;
        padding-top:em(98, 16);
        min-height: 100vh;
        height: auto;
        background-color: rgb(138, 132, 132);
        max-width: rem(320);
        background: #fff;
        transform: translateX(-150%);
        @include flex.flex-box();
        @include flex.flex-direction('column');
    }
    &s{
        top:em(98, 16);
        border-top:rem(3) solid #101010;
    }
    &1, &2, &_youtube{
        color:#222222;
        li{
            padding: em(2, 16) em(40);
        }
        a{
            font-size: em(18, 16);
            line-height: em(22, 16);
            padding: em(6, 18) 0;
            display: block;
        }
    }
    &1{
        padding: em(14, 16) 0;
        background-color: #f5f5f5;
    }
    &2{
        border-top:1px solid #dddddd;
        padding: em(10, 16) 0;
        > li {
            padding: em(6, 16) em(40);
        }
    }
    &_youtube{
        border-top:1px solid #dddddd;
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
        height:em(72, 16);
        padding: em(10, 16) 0;
        &_btn{
            display: block;
            position: relative;
            @at-root .amb_youtube &{
                padding-top: rem(12);
                padding-bottom: rem(12);
            }
            i{
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);
                width:1em;
                font-size: 0.85em;
            }
        }
        > li {
            > ul{
                overflow: hidden;
                opacity: 1;
                position: absolute;
                bottom: 0;
                left: 100%;
                width: 100%;
                padding: em(10, 16) 0;
                background-color: #f5f5f5;
                font-weight: 300;
                color:#555555;
                a{
                    font-size: em(16, 16);
                }
                > li{
                    padding: em(6, 16) em(40);
                    &:first-child{
                        color:#111111;
                        text-shadow:none;
                    }
                }
            }
        }
    }
    &_close_buttton{
        position: absolute;
        top: 0;
        left: 100%;
        width:rem(35);
        line-height: rem(35);
        text-align: center;
        background-color: #101010;
        color: #fff;
    }
    &_togo_buttton{
        display: none;
        position: absolute;
        top: rem(13);
        right: rem(20);
        width:rem(80);
        line-height: rem(24);
        text-align: center;
        background-color: #fff;
        color: #222;
        font-size: rem(13);
        border-radius: rem(20);
        border:1px solid color.$color-border;
    }
    @include mob{
        &_wrap{
            top:rem(60);
            height: calc(100% - #{rem(60)}) !important;
            overflow-x: hidden;
            background-color: #fff;
        }
        &_mask{
            display: none !important;
        }
        &_top{
            position: static;
            height:auto;
            padding: 0 ;
            background-color: #f5f5f5;
            border-top:rem(3) solid #101010;
            a{
                margin: 0 auto;
                padding-top: em(2, 16);
                width: em(130, 16);
                display: block;
                text-align: center;
                font-size: em(16, 16);
                line-height: em(52, 16);
                padding-left: em(30, 16);
                background-size: em(22, 16) auto;
                font-weight: auto;
                font-weight: 700;
            }
        }
        &_box{
            width: 100%;
            height: 100%;
            min-height:auto;
            max-width: none;
            padding: 0 rem(20);
            padding-top: rem(77);
            position: relative;
            border-top: 1px solid color.$color-border;
            &::before{
                content: '';
                display: block;
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 1px;
                top:rem(55);
                left:50%;
                transform: translateX(-50%);
                border-bottom: 1px solid color.$color-border;
            }
        }
        &s{
            top:em(98, 16);
            border-top:0;
        }
        &1, &2, &_youtube{
            @include flex.flex-box();
            @include flex.flex-direction('row');
            @include flex.flex-wrap('wrap');
            li{
                flex: 1 1 auto;
                width: 50%;
                margin: 0;
                padding: em(2, 16) 0;
            }
            a{
                padding: 0;
                font-size: em(16, 16);
                line-height: em(43, 16);
            }
        }
        &1{
            padding: 0;
            background-color: #fff;
            font-weight: 700;
        }
        &2{
            padding: em(5, 16) 0;
            > li {
                padding: 0;
            }
        }
        &_youtube{
            height: auto;
            width: 100%;
            padding: 0;
            &_btn{
                @at-root .amb_youtube &{
                    padding-top: em(10, 18);
                    padding-bottom: 0;
                    font-weight: 700;
                    font-size: em(18, 16);
                }
                i{
                    display: none;
                }
            }
            > li {
                > ul{
                    @include flex.flex-box();
                    @include flex.flex-direction('row');
                    @include flex.flex-wrap('wrap');
                    opacity: 1 !important;
                    z-index: 0 !important;
                    visibility:visible !important;
                    position: static;
                    left: 0;
                    width: 100%;
                    padding:0;
                    background-color: #fff;
                    font-weight: 400;
                    a{
                        font-size: em(16, 16);
                    }
                    > li{
                        flex: 1 1 auto;
                        width: 50%;
                        padding: 0;
                        &:first-child{
                            color:#555555;
                        }
                    }
                }
            }
        }
        &_close_buttton{
            position: absolute;
            top: 0;
            left: rem(20);
            width:1em;
            font-size: em(18, 16);
            line-height: rem(55);
            text-align: center;
            background-color: transparent;
            color: #666;
        }
        &_togo_buttton{
            display: block;
        }
    }
}


.footer{
    &{
        background-color: #fff;
        padding-bottom: em(83);
        font-size: rem($_fs);
        font-family: 'Montserrat','Noto Sans KR', serif;
        .wrap_1180{
            overflow: hidden;
        }
    }
    &_top{
        border-top:2px solid #222;
    }
    &_bottom{
        position: relative;
        border-top:1px solid #e5e5e5;
        padding-top: rem(34);
    }
    &_info_link{
        overflow: hidden;
        @include flex.flex-box();
        @include flex.flex-direction('row');
        @include flex.flex-wrap('nowrap');
        @include flex.align-items('center');
        @include flex.justify-content('space-between');
        min-height: em(55, 16);
        padding: 0;
        width: calc(100% + #{em(80)});
        min-width: 100%;
        &_line{
            display: none;
            width: calc(100% - #{em(30)});
            background-color: #dddddd;
            height: 1px;
        }
        &_item{
            position: relative;
            display: inline-block;
            font-size: rem(16);
            line-height: em(28, 16);
            padding-left: em(80, 16);
            padding-top: em(12, 16);
            padding-bottom: em(12, 16);
            text-align: center;
            transform: translateX(em(-80,16));
            white-space: nowrap;
            color: #999999;
            font-weight: 300;
            &.strong{
                font-weight: normal;
                color: #555555;
            }
            &::before{
                content: '\2022';
                position: absolute;
                width: 1em;
                text-align: center;
                display: block;
                top:50%;
                font-weight: 100;
                left:em(23, 16);
                font-weight: 700;
                transform: translateY(-55%);
            }
        }
    }
    &_logo{
        width: rem(220);
        padding-right: rem(80);
        img{
            display: block;
            width: 100%;
        }
    }
    &_info{
        &_box{
            width: 100%;
            max-width: rem(700);
        }
        &{
            font-size: 0;
            overflow: hidden;
            letter-spacing: -0.01em;
            font-weight: 300;
        }
        &_item{
            position: relative;
            display: inline-block;
            font-size: rem(14);
            line-height: em(28, 14);
            padding-left: em(26, 14);
            transform: translateX(em(-26,14));
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: em(12,14);
                background-color: #b5b5b5;
                top:50%;
                left:em(13, 14);
                transform: translateY(-50%);
            }
        }
    }
    &_copy{
        font-size: rem(14);
        line-height: em(28, 14);
        margin-top: em(23, 14);
        letter-spacing: -0.025em;
        color:#999999;
    }
    &_btn{
        margin-left: auto;
    }
    .btn{
        @include btn.size(18, 230, 60);
        letter-spacing: -0.05em;
        margin-bottom: em(40, 18);
        i{
            font-size: em(28, 18);
            line-height: em(26, 28);
            vertical-align: middle;
            margin-right: em(4, 28);
        }
    }
    
    @include tab{
        .wrap_1180{
            position: relative;
            max-width: rem(860);
        }
        &_info_link{
            width: calc(100% + #{em(40)});
            display: block;
            &_line{
                display: block;
            }
            &_item{
                font-size: rem(16);
                line-height: em(28, 16);
                padding:em(16, 16) em(40, 16);
                transform: translateX(em(-40,16));
                text-align: left;
                &::before{
                    left:0;
                    text-align: left;
                    transform: translateY(-55%);
                }
            }
        }
        .row{
            @include flex.flex-direction(column-reverse);
        }
        &_logo{
            position: absolute;
            top:rem(20);
            left:rem(20);
        }
        &_btn{
            width: 100%;
            text-align: right;
            margin-left: auto;
        }
    }
    @include tab-small{
        .btn{
            font-size: rem(16);
        }
        
    }
    
    @include mob{
        &{
            padding-top: 0;
            padding-bottom: em(50);
            .wrap_1180{
                max-width: rem(600);
            }
        }
        &_bottom{
            padding-top: rem(25);
        }
        &_logo{
            position: absolute;
            top:rem(10);
            left:rem(20);
            img{
                width: rem(85);
            }
        }
        &_info_link{
            width: calc(100% + #{em(30)});
           
            &_item{
                font-size: rem(13);
                line-height: em(28, 13);
                padding: em(11, 13) 0;
                padding-left: em(15, 13);
                padding-right: em(10, 13);
                transform: translateX(em(-15,13));
            }
        }
        &_info{
            margin-top: rem(13);
            &_item{
                font-size: rem(13);
                line-height: em(20, 13);
                padding-left: em(25, 13);
                margin-top: em(2, 13);
                transform: translateX(em(-25,13));
                &::before{
                    height: em(12,13);
                    left:em(12, 13);
                    transform: translateY(-50%);
                }
            }
        }
        &_copy{
            font-size: rem(11);
            line-height: em(17, 11);
            margin-top: em(23, 11);
        }
        
        .btn{
            @include btn.size(13, 160, 35);
            margin-bottom: 0;
            font-weight: 300;
        }
    }
    @include mob-mid{
        .btn{
            //width: 100%;
        }
    }

}

.floating{
    &_box{
        opacity: 0;
        z-index: 88;
        position: fixed;
        bottom:10%;
        right:rem(20);
        width: rem(270);
        letter-spacing: -0.025em;
    }
    &{
        @include table-layout('_left','_right' );
    }
    &_left{
        width: rem(195);
        text-align: center;
        vertical-align: middle;
        padding-right: rem(20);
    }
    &_right{
        text-align: center;
        vertical-align: middle;
    }
    &_button{
        font-size: rem(14);
        display: inline-block;
        width: em(80, 14);
        height: em(80, 14);
        overflow: hidden;
        border-radius: 100%;
        border: 1px solid #e5e5e5;
        background: #fff;
        text-align: center;
        &:not(:last-child){
            margin-bottom: em(8, 14);
        }
        i{
            font-size: em(20, 14);
            margin-bottom: em(5, 20);
            display: block;
        }
        &.first{
            background-color: map-get(color.$colors, 2);
            border-color: map-get(color.$colors, 2);
            color: #fff;
            padding-top: em(12, 14);
            i{
                margin-top: em(-10, 30);
                font-size: em(30, 14);
                margin-bottom: 0;
            }
        }
    }
    &_top{
        display: block;
        padding: em(5, 14) em(10) 0 0;
        font-size: rem(14);
        width: 100%;
        i{
            display: inline-block;
            transform-origin: bottom center;
            transform: scale(0.5) translateY(-50%);
        }
    }
    @include tab{
        &_box{
            display: none;
        }
    }
}

.support{
    &_box{
        font-size: rem(16);
        border: 1px solid #e5e5e5;
        padding: 0 em(12) ;
        display: block;
        border-radius: rem(5);
        background-color: #fff;
        text-align: center;
        position: relative;
        box-shadow: 2.5px 4.33px 8px 0px rgba(0, 0, 0, 0.08);
    }
    &_close{
        position: absolute;
        top:em(5);
        right:em(5);
        width: 1em;
        height: 1em;
        opacity: 0.5;
        text-align: center;
        i{
            display: block;
            transform-origin: center center;
            transform: scale(0.75) ;
        }
    }
    &_top{  
        border-bottom: 1px solid #e5e5e5;
        padding: em(20) 0;
    }
    &_bottom{
        padding: em(8) 0 em(15);
        a{
            display: table;
            width: 100%;
            color: map-get(color.$colors, 2);
            > i, > span{
                display: table-cell;
                vertical-align: middle;
            }
            > i{
                text-align: center;
                width: em(50, 30);
                font-size: em(30);
            }
            > span{
                text-align: left;
                text-decoration: underline;
                font-size: em(14, 16);
                i {
                    vertical-align: middle;
                    font-size: em(10, 14);
                }
            }
        }
    }
    &_tit{  
        font-family: 'GongGothicMedium', sans-serif;
        font-weight: 700;
        display: block;
        font-size: em(18, 16);
        line-height: em(22, 18);
        b{
            color: map-get(color.$colors, 2);
            display: block;
        }
    }
    &_txt{
        margin-top: 0.5em;
        display: block;
        font-size: em(14, 16);
        line-height: em(18, 14);
        color:color.$color-text-b4;
        font-weight: normal;
    }
}

.togoPop{
    &{
        font-size: rem(16);
        position: relative;
        padding-left: em(16);
        &::before{
            content: '';
            display: block;
            z-index: 1;
            position: absolute;
            width: 1px;
            height: 100%;
            top:0;
            left:0;
            background-color: color.$color-border;
        }
    }
    li{
        @include flex.flex-box();
        @include flex.flex-wrap('nowrap');
        @include flex.align-items('center');
        border: 1px solid color.$color-border;
        position: relative;
        height: rem(86);
        &:not(:last-child){
            margin-bottom: em(20);
        }
        &::before{
            content: '';
            display: block;
            z-index: 1;
            position: absolute;
            width: rem(6);
            height: rem(6);
            border-radius: 100%;
            top:0;
            left:rem(-17);
            transform: translateX(-50%);
            background-color: #222;
        }
    }
    &_img{
        flex: 0 1 auto;
        width: math.div(60, 550) * 100%;
        text-align: right;
    }
    &_txt{
        flex: 0 1 auto;
        width: math.div(490, 550) * 100%;
        padding: em(15, 18) em(20, 18);
        font-size: em(18, 16);
        line-height: em(30, 18);
    }

    @include mob{
        li{
            height: rem(60);
        }
        &_img{
            img{
                max-width: 50%;
            }
        }
        &_txt{
            font-size: em(13, 16);
        }
    }
}

@include print (){
    html, body {
        height: auto;
        overflow:visible !important;
    }
    .header, .footer, .location{
        display: none;
    }
    .container {
        overflow:visible !important;
        position:relative !important;
        height: auto !important;
        transform: none !important;
    } 
    .floating_box{
        display: none;
    }
}