@use "sass:math";
@use 'common/' as *;
@use 'common/variables' as var;
@use 'common/color' as color;
@use 'components/flex/mixin' as flex;
@use 'components/icon/mixin' as icon;
@use 'components/form/mixin' as form;

$fs : 18;
$fs_md : 18;
$fs_sm : 15;

.terms {
    &_wrap {
        font-size: rem($fs);
        line-height: 1.675;
        letter-spacing: -.025em;
        @include tab-small {
            font-size: rem($fs_md);
        }
        @include mob-mid {
            font-size: rem($fs_sm);
        }
        h1, h2, h3{
            font-family: 'Roboto', 'Noto Sans KR', sans-serif !important;
            font-weight: 700;
            padding-right: 0 !important;
        }
        .lh_22 {
            line-height: 2.2;
        }
        .txt_tit {
            display: block;
            color: #222;
            font-weight: 500;
            &.fw_600 {
                font-weight: 600;
            }
        }
        .indent_list {
            & > li {
                & > p {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: baseline;
                    &::before {
                        content:attr(data-numbers); display: block;
                        font-family:"Noto Sans KR", serif;
                        font-size: 1em;
                        letter-spacing: 0;
                        color: inherit;
                        margin-right: rem(3);
                    }
                }
            }
        }
        .bg_box {
            background-color: #f5f6fa;
            color: #666;
            .txt_tit {
                font-size: em(24, $fs);
                line-height: em(28, 24);
                margin-bottom: em(5, 24);
            }
        }
        .txt_bundles {
            margin-top: em(15, $fs);
            & + .txt_bundles {
                margin-top: em(40, $fs);
            }
            & + .terms_tit1 {
                margin-top: em(15, $fs);
            }
        }
        ul ul {
            padding-left: 1.275em;
            font-size: em(16, $fs);
            line-height: 1.775;
        }

    }
    &_box {
        color: #666;
        & +.terms_box {
            padding-top: em(30, $fs);
        }
        &.lh_22 {
            .txt_bundles {
                & + .txt_bundles {
                    margin-top: em(40, 18);
                }
            }
        }
    }
    &_head {
        border: {
            top: 2px solid #111;
            bottom: 1px solid #e5e5e5;
        }
        margin: {
            top: em(40, $fs);
            bottom: em(40, $fs);
        }
        .th_tit {
            font-size: em(30, $fs);
            margin-bottom: em(20, 30);
            font-family:'Noto Sans KR', sans-serif;
            color: #222;
            line-height:1.5;
        }
        .terms_etc {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            & > li {
                position: relative;
                padding-right: em(15, $fs);
                margin-right: em(15, $fs);
                &::before {
                    content:''; display: block;
                    height: em(16, $fs);
                    border-right: 1px solid #cccccc;
                    border-left: 1px solid #efefef;
                    position: absolute;
                    top: 50%; right: -1px;
                    @include vendor(transform, 'translateY(-50%)');
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    &::before { display: none; }
                }
            }
        }
        & + .terms_tit1 {
            padding-top: 0;
        }

    }
    &_tit1 {
        font-size: em(26, $fs);
        @at-root .con &{
            font-size: em(26, $fs);
        }
        font-weight: 500;
        padding: {
            top: em(30, 26);
            bottom: em(30, 26);
        }
        line-height:1.5;
        font-family:'Noto Sans KR', sans-serif;
        &.tc_1 {
            color: #ef2424;
        }
        &._sub {
            font-size: em(24, $fs);
        }
        & + ._sub {
            padding-top: 0;
            line-height: 1.2;
        }
    }
    &_tit2 {
        font-size: em(20, $fs);
        font-weight: 500;
        font-family:'Noto Sans KR', sans-serif;
        line-height:1.5;
        margin-bottom: rem(5);
    }

}
