@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?7jknb9') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?7jknb9') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?7jknb9##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconFt_"], [class*=" iconFt_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconFt_tag {
  &:before {
    content: $iconFt_tag; 
  }
}
.iconFt_t-right {
  &:before {
    content: $iconFt_t-right; 
  }
}
.iconFt_t-left {
  &:before {
    content: $iconFt_t-left; 
  }
}
.iconFt_t-center {
  &:before {
    content: $iconFt_t-center; 
  }
}
.iconFt_delete {
  &:before {
    content: $iconFt_delete; 
  }
}
.iconFt_link1 {
  &:before {
    content: $iconFt_link1; 
  }
}
.iconFt_txt {
  &:before {
    content: $iconFt_txt; 
  }
}
.iconFt_gallery {
  &:before {
    content: $iconFt_gallery; 
  }
}
.iconFt_player {
  &:before {
    content: $iconFt_player; 
  }
}
.iconFt_line_type {
  &:before {
    content: $iconFt_line_type; 
  }
}
.iconFt_Edit_icon06 {
  &:before {
    content: $iconFt_Edit_icon06; 
  }
}
.iconFt_Edit_icon07 {
  &:before {
    content: $iconFt_Edit_icon07; 
  }
}
.iconFt_Edit_icon08 {
  &:before {
    content: $iconFt_Edit_icon08; 
  }
}
.iconFt_Edit_icon09 {
  &:before {
    content: $iconFt_Edit_icon09; 
  }
}
.iconFt_sns {
  &:before {
    content: $iconFt_sns; 
  }
}
.iconFt_ft-weight {
  &:before {
    content: $iconFt_ft-weight; 
  }
}
.iconFt_ft-color {
  &:before {
    content: $iconFt_ft-color; 
  }
}
.iconFt_ft-decoration {
  &:before {
    content: $iconFt_ft-decoration; 
  }
}
.iconFt_txt-tit {
  &:before {
    content: $iconFt_txt-tit; 
  }
}
.iconFt_txt-head {
  &:before {
    content: $iconFt_txt-head; 
  }
}
.iconFt_Text_icon06 {
  &:before {
    content: $iconFt_Text_icon06; 
  }
}
.iconFt_Text_icon07 {
  &:before {
    content: $iconFt_Text_icon07; 
  }
}
.iconFt_click {
  &:before {
    content: $iconFt_click; 
  }
}
.iconFt_round_close {
  &:before {
    content: $iconFt_round_close; 
  }
}
.iconFt_icon20 {
  &:before {
    content: $iconFt_icon20; 
  }
}
.iconFt_check1 {
  &:before {
    content: $iconFt_check1; 
  }
}
.iconFt_collections {
  &:before {
    content: $iconFt_collections; 
  }
}
.iconFt_arrow_down {
  &:before {
    content: $iconFt_arrow_down; 
  }
}
.iconFt_arrow_left {
  &:before {
    content: $iconFt_arrow_left; 
  }
}
.iconFt_arrow_right {
  &:before {
    content: $iconFt_arrow_right; 
  }
}
.iconFt_arrow_up {
  &:before {
    content: $iconFt_arrow_up; 
  }
}
.iconFt_open_in {
  &:before {
    content: $iconFt_open_in; 
  }
}
.iconFt_quest {
  &:before {
    content: $iconFt_quest; 
  }
}
.iconFt_bubble {
  &:before {
    content: $iconFt_bubble;     
    color: #bbb;
  }
}
.iconFt_depth {
  &:before {
    content: $iconFt_depth; 
  }
}
.iconFt_pen_2 {
  &:before {
    content: $iconFt_pen_2; 
  }
}
.iconFt_icon_1 {
  &:before {
    content: $iconFt_icon_1; 
  }
}
.iconFt_menu {
  &:before {
    content: $iconFt_menu; 
  }
}
.iconFt_file {
  &:before {
    content: $iconFt_file; 
  }
}
.iconFt_link {
  &:before {
    content: $iconFt_link; 
  }
}
.iconFt_pen {
  &:before {
    content: $iconFt_pen; 
  }
}
.iconFt_round_arrow_up {
  &:before {
    content: $iconFt_round_arrow_up; 
  }
}
.iconFt_round_arrow_down {
  &:before {
    content: $iconFt_round_arrow_down; 
  }
}
.iconFt_review {
  &:before {
    content: $iconFt_review; 
  }
}
.iconFt_folder {
  &:before {
    content: $iconFt_folder; 
  }
}
.iconFt_share {
  &:before {
    content: $iconFt_share; 
  }
}
.iconFt_facebook1 {
  &:before {
    content: $iconFt_facebook1; 
  }
}
.iconFt_kakao1 {
  &:before {
    content: $iconFt_kakao1; 
  }
}
.iconFt_twitter {
  &:before {
    content: $iconFt_twitter; 
  }
}
.iconFt_symbol {
  &:before {
    content: $iconFt_symbol; 
  }
}
.iconFt_close_2 {
  &:before {
    content: $iconFt_close_2; 
  }
}
.iconFt_print {
  &:before {
    content: $iconFt_print; 
  }
}
.iconFt_tel {
  &:before {
    content: $iconFt_tel; 
  }
}
.iconFt_close {
  &:before {
    content: $iconFt_close; 
  }
}
.iconFt_search {
  &:before {
    content: $iconFt_search; 
  }
}
.iconFt_xxs_arroay_l {
  &:before {
    content: $iconFt_xxs_arroay_l; 
  }
}
.iconFt_xxs_arroay_r {
  &:before {
    content: $iconFt_xxs_arroay_r; 
  }
}
.iconFt_arrow_ty1_r {
  &:before {
    content: $iconFt_arrow_ty1_r; 
  }
}
.iconFt_arrow_ty1_l {
  &:before {
    content: $iconFt_arrow_ty1_l; 
  }
}
.iconFt_arrow_bar_r2 {
  &:before {
    content: $iconFt_arrow_bar_r2; 
  }
}
.iconFt_arrow_bar_l_2 {
  &:before {
    content: $iconFt_arrow_bar_l_2; 
  }
}
.iconFt_home {
  &:before {
    content: $iconFt_home; 
  }
}
.iconFt_like {
  &:before {
    content: $iconFt_like; 
  }
}
.iconFt_rg_tringle {
  &:before {
    content: $iconFt_rg_tringle; 
  }
}
.iconFt_picture {
  &:before {
    content: $iconFt_picture; 
  }
}
.iconFt_infoPaper {
  &:before {
    content: $iconFt_infoPaper; 
  }
}
.iconFt_star {
  &:before {
    content: $iconFt_star; 
  }
}
.iconFt_star1 {
  &:before {
    content: $iconFt_star1; 
  }
}
.iconFt_check {
  &:before {
    content: $iconFt_check; 
  }
}
.iconFt_down2 {
  &:before {
    content: $iconFt_down2; 
  }
}
.iconFt_link2 {
  &:before {
    content: $iconFt_link2; 
  }
}
.iconFt_refresh {
  &:before {
    content: $iconFt_refresh; 
  }
}
.iconFt_write {
  &:before {
    content: $iconFt_write; 
  }
}
.iconFt_calendar {
  &:before {
    content: $iconFt_calendar; 
  }
}
.iconFt_clip {
  &:before {
    content: $iconFt_clip; 
  }
}
.iconFt_arrow_bar_l {
  &:before {
    content: $iconFt_arrow_bar_l; 
  }
}
.iconFt_arrow_bar_r {
  &:before {
    content: $iconFt_arrow_bar_r; 
  }
}
.iconFt_arrow_middle_l {
  &:before {
    content: $iconFt_arrow_middle_l; 
  }
}
.iconFt_arrow_middle_d {
  &:before {
    content: $iconFt_arrow_middle_d; 
  }
}
.iconFt_arrow_middle_u {
  &:before {
    content: $iconFt_arrow_middle_u; 
  }
}
.iconFt_arrow_middle_r {
  &:before {
    content: $iconFt_arrow_middle_r; 
  }
}
.iconFt_arrow_u {
  &:before {
    content: $iconFt_arrow_u; 
  }
}
.iconFt_arrow_d {
  &:before {
    content: $iconFt_arrow_d; 
  }
}
.iconFt_arrow_l_2 {
  &:before {
    content: $iconFt_arrow_l_2; 
  }
}
.iconFt_arrow_r_2 {
  &:before {
    content: $iconFt_arrow_r_2; 
  }
}
.iconFt_play {
  &:before {
    content: $iconFt_play; 
  }
}
.iconFt_naver {
  &:before {
    content: $iconFt_naver; 
  }
}
.iconFt_youtube {
  &:before {
    content: $iconFt_youtube; 
  }
}
.iconFt_stop {
  &:before {
    content: $iconFt_stop; 
  }
}

