$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$iconFt_tag: "\e955";
$iconFt_t-right: "\e956";
$iconFt_t-left: "\e957";
$iconFt_t-center: "\e958";
$iconFt_delete: "\e954";
$iconFt_link1: "\e933";
$iconFt_txt: "\e934";
$iconFt_gallery: "\e935";
$iconFt_player: "\e936";
$iconFt_line_type: "\e937";
$iconFt_Edit_icon06: "\e93e";
$iconFt_Edit_icon07: "\e93f";
$iconFt_Edit_icon08: "\e940";
$iconFt_Edit_icon09: "\e941";
$iconFt_sns: "\e942";
$iconFt_ft-weight: "\e943";
$iconFt_ft-color: "\e944";
$iconFt_ft-decoration: "\e945";
$iconFt_txt-tit: "\e946";
$iconFt_txt-head: "\e947";
$iconFt_Text_icon06: "\e948";
$iconFt_Text_icon07: "\e949";
$iconFt_click: "\e94a";
$iconFt_round_close: "\e94b";
$iconFt_icon20: "\e94c";
$iconFt_check1: "\e94d";
$iconFt_collections: "\e94e";
$iconFt_arrow_down: "\e94f";
$iconFt_arrow_left: "\e950";
$iconFt_arrow_right: "\e951";
$iconFt_arrow_up: "\e952";
$iconFt_open_in: "\e953";
$iconFt_quest: "\e90b";
$iconFt_bubble: "\e90a";
$iconFt_depth: "\e906";
$iconFt_pen_2: "\e907";
$iconFt_icon_1: "\e912";
$iconFt_menu: "\e91d";
$iconFt_file: "\e925";
$iconFt_link: "\e926";
$iconFt_pen: "\e927";
$iconFt_round_arrow_up: "\e928";
$iconFt_round_arrow_down: "\e929";
$iconFt_review: "\e92a";
$iconFt_folder: "\e92b";
$iconFt_share: "\e92c";
$iconFt_facebook1: "\e92d";
$iconFt_kakao1: "\e92e";
$iconFt_twitter: "\e92f";
$iconFt_symbol: "\e930";
$iconFt_close_2: "\e931";
$iconFt_print: "\e914";
$iconFt_tel: "\e9f6";
$iconFt_close: "\e9f4";
$iconFt_search: "\e9f5";
$iconFt_xxs_arroay_l: "\e963";
$iconFt_xxs_arroay_r: "\e964";
$iconFt_arrow_ty1_r: "\e915";
$iconFt_arrow_ty1_l: "\e973";
$iconFt_arrow_bar_r2: "\e91c";
$iconFt_arrow_bar_l_2: "\e932";
$iconFt_home: "\e920";
$iconFt_like: "\e91f";
$iconFt_rg_tringle: "\e91e";
$iconFt_picture: "\e913";
$iconFt_infoPaper: "\e903";
$iconFt_star: "\e90c";
$iconFt_star1: "\e90e";
$iconFt_check: "\e910";
$iconFt_down2: "\e91b";
$iconFt_link2: "\e900";
$iconFt_refresh: "\e917";
$iconFt_write: "\e918";
$iconFt_calendar: "\e919";
$iconFt_clip: "\e911";
$iconFt_arrow_bar_l: "\e901";
$iconFt_arrow_bar_r: "\e902";
$iconFt_arrow_middle_l: "\e904";
$iconFt_arrow_middle_d: "\e921";
$iconFt_arrow_middle_u: "\e922";
$iconFt_arrow_middle_r: "\e905";
$iconFt_arrow_u: "\e908";
$iconFt_arrow_d: "\e923";
$iconFt_arrow_l_2: "\e924";
$iconFt_arrow_r_2: "\e909";
$iconFt_play: "\e90d";
$iconFt_naver: "\e91a";
$iconFt_youtube: "\e90f";
$iconFt_stop: "\e916";

