$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$iconFt_print: "\e914";
$iconFt_tel: "\e9f6";
$iconFt_close: "\e9f4";
$iconFt_search: "\e9f5";
$iconFt_xxs_arroay_l: "\e963";
$iconFt_xxs_arroay_r: "\e964";
$iconFt_arrow_ty1_r: "\e915";
$iconFt_arrow_ty1_l: "\e973";
$iconFt_Icon_02: "\e91c";
$iconFt_home: "\e920";
$iconFt_like: "\e91f";
$iconFt_rg_tringle: "\e91e";
$iconFt_picture: "\e913";
$iconFt_infoPaper: "\e903";
$iconFt_star: "\e90c";
$iconFt_star1: "\e90e";
$iconFt_check: "\e910";
$iconFt_down2: "\e91b";
$iconFt_link2: "\e900";
$iconFt_refresh: "\e917";
$iconFt_write: "\e918";
$iconFt_calendar: "\e919";
$iconFt_clip: "\e911";
$iconFt_arrow_bar_l: "\e901";
$iconFt_arrow_bar_r: "\e902";
$iconFt_arrow_middle_l: "\e904";
$iconFt_arrow_middle_r: "\e905";
$iconFt_arrow_l_2: "\e908";
$iconFt_arrow_r_2: "\e909";
$iconFt_play: "\e90d";
$iconFt_naver: "\e91a";
$iconFt_facebook: "\e90a";
$iconFt_kakao: "\e90b";
$iconFt_youtube: "\e90f";
$iconFt_stop: "\e916";

