@use "sass:math";
@use "sass:selector";
@use '../../common/variables' as var;
@use '../../common/color' as color;
@use '../../common/' as *;
@use 'mixin' as btn;
@use '../flex/mixin' as flex;
$_fs      :12;
$_fs-mob  : 13;
$_fs16 : 16;

a,
button{
  &.btn{
    @include btn.item($_fs);
    @include btn.size{
     // min-width: em(65,$_fs);
    };

  }
  &[class*=btn_]{
    @include btn.item($_fs);
  }
}

a,
button{
  &.btn{
    //btn-size
    &.search{
      @include btn.size(14, 40,20){
        min-width: em(70,16);
        white-space: nowrap;
       };
    }
    &.arrow{
      @include btn.size(16, 24,0){
        min-width: em(24,16);
       };

       + .arrow{
         margin-left: em(5,16) !important;
       }
    }
    &_lg{
      @include btn.size(16, 60,20){
       min-width: em(180,16);
      };
    }
    &_md{
      @include btn.size(16, 50,20){
       min-width: em(140,16);
      };
    }
    &_sm{
      @include btn.size{
        min-width: 0;
      };
    }
    &_full{
      display: block;
      width: 100%;
    }

    //btn-layout
    &_rd{
      border-radius: em(200, $_fs);
    }
  }
}

a.more_link{
  @include flex.flex-box();
  @include flex.align-items('center');
  font-size: em(13, $_fs16);

  .material-icons{
    font-size:  em(13, $_fs16);
  }
}

$_btn-colors  : (
  "cg" cb #999999 #fff #999999,
  "cb" true #222222 #fff #222222,
  "cd" true color.$color-border #fff color.$color-border,


  "c1"  true map-get(color.$colors, 1 )  #fff map-get(color.$colors, 1 ),
  "c2"  true map-get(color.$colors, 2 )  #fff map-get(color.$colors, 2 ),
  "c3"  true map-get(color.$colors, 3 )  #fff map-get(color.$colors, 3 ),
  "c4"  true map-get(color.$colors, 4 )  #fff map-get(color.$colors, 4 ),
  "c5"  true map-get(color.$colors, 5 )  #fff map-get(color.$colors, 5 ),
  "c6"  true map-get(color.$colors, 6 )  #fff map-get(color.$colors, 6 ),
  "c7"  true map-get(color.$colors, 7 )  #fff map-get(color.$colors, 7 ),
  "c8"  true map-get(color.$colors, 8 )  #fff map-get(color.$colors, 8 ),
  "c9"  true map-get(color.$colors, 9 )  #fff map-get(color.$colors, 9 ),
  "c10" true map-get(color.$colors, 10)  #fff map-get(color.$colors, 10 ),
  "c11" true map-get(color.$colors, 11)  #fff map-get(color.$colors, 11,),
  "c12" true map-get(color.$colors, 12 ) #fff map-get(color.$colors, 12 ),
  "c13" true map-get(color.$colors, 13 ) #fff map-get(color.$colors, 13 ),
  "c14" true map-get(color.$colors, 14 ) #fff map-get(color.$colors, 14 ),

);


//btn-color
@each $name, $line-is, $bg, $text, $border, $bg-hover, $text-hover, $border-hover in $_btn-colors {
  a, button{
    &.btn{
      &_#{$name}{
        @include btn.color($bg, $text, $border, #fff, $bg, $border-hover);
      }

      @if $line-is {
        &_line_#{$name}{

          @include btn.color(transparent, $bg, $bg, $bg, #fff, $bg,);
        }
      }
    }
  }
}

.btn.report{
  @include btn.color(#fff, #656d7d,  #a0a6b3,#959aa7, #fff, #959aa7);
}

//btn_box
.btn_box{
  font-size: 0;
  [class*=btn]{
    vertical-align: middle;
  }
  @include wrap-padding( '&.' , 0, '[class*=btn]');
  @each $num in var.$padding-wraps {
    @include wrap-padding( '&.' , $num, '[class*=btn]');
  }
}
.in_multy_btn {
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    align-items: center;
    height: 100%;
    .btn + .btn {
        margin-right: em(10, $_fs16);
        margin-left: 0;
    }
    &.j_right {
        .btn + .btn {
            margin-left: em(10, $_fs16);
            margin-right: 0;
        }
    }
}
.in_multy_radio {
    .fm_rd + .fm_rd {
        margin-right: em(10, $_fs16);
        margin-left: 0;
    }
    &.j_right {
        .fm_rd + .fm_rd {
            margin-left: em(10, $_fs16);
            margin-right: 0;
        }
    }
    &.jc_se {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        justify-content: space-evenly;
        ._icon {
            margin-right: em(5, $_fs16);
        }
        .fm_rd + .fm_rd {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
.dif_sel {
    .fm_rd { color :#666666; }
    .fm_rd.on { color: #222222;}
}
.add_box_lap {
    text-align: center;
    border: 1px dashed #dcdee2;
    background-color: #f8f9fb;
    button, a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: em(45, 14);
        line-height: em(45, 14);
        font-size: em(14);
        padding: {
            left: em(25, 14);
            right: em(25, 14);
        }
        background-color: #f8f9fb;
        color: #222;
        font-size: rem(14);
        @include vendor(transition, 'background .2s ease-in-out, transform .2s ease-in-out, color .2s ease-in-out');
        &::before {
            content:''; display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cdefs%3E%3C/defs%3E%3Cpath fill='%23222' d='M925,971h10v2H925v-2Zm4-4h2v10h-2V967Z' transform='translate(-925 -967)'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: em(10, 14) em(10, 14);
            margin-right: em(5, 14);
            width: em(10, 14);
            height: em(10, 14);
            @include vendor(transition, 'background .2s ease-in-out, transform .2s ease-in-out, color .2s ease-in-out');
        }
        &:hover {
            background-color: #b2baca;
            color: #fff;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cdefs%3E%3C/defs%3E%3Cpath fill='%23fff' d='M925,971h10v2H925v-2Zm4-4h2v10h-2V967Z' transform='translate(-925 -967)'/%3E%3C/svg%3E%0A");
            }
        }
    }
}
.serial_wrap{
  height: em(65,$_fs16);
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: em(-40,$_fs16);
  padding-left: em(10,$_fs16);
  margin-left: em(-15,$_fs16);
}
.number{
  &_item {

    margin-bottom:  em(5,$_fs);
    margin-right: em(5,$_fs);
    display: block;
    float: left;
  }
  &_btn{
    &{
      width: em(112,$_fs);
      height: em(22,$_fs);
      background-color: #f8f9fb;
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 0 em(6.5,$_fs) ;
      display: inline-block;
      vertical-align: top;
      align-content: center;
      cursor: grab;
      font-size: rem($_fs);
      @include flex.flex-box();
      @include flex.align-items('center');
      @include flex.justify-content('space-between');
    }
    .txt{
      color: color.$color-text-b4 ;
      letter-spacing: -0.04em;
    }
  }
}
