@use '../flex/mixin' as flex;

/*list*/
.list_
ul[class^="list_"],ul[class*="list_"]{
    > li{
        @include flex.flex-box();
        @include flex.flex-wrap(nowrap);
        @include flex.align-items(flex-start);
        &:before{
            display: block;
            min-width: 0.8em;
            width: 0.8em;
            text-align: center;
        }
	}
}
.list_{
    &dash{
        > li{
            &:before{
                margin-left: -0.5em;
                margin-right: 0.05em;
            }
        }
    }
    &dot{
        > li{
            &:before{
                content: '\00B7';
            }
        }
    }
    &bullet{
        > li{
            &:before{
                content: '\2022';
            }
        }
    }
    &dash{
        > li{
            &:before{
                content: '-';
            }
        }
    }
     
    &star{
        > li{
            &:before{
                content: '*';
            }
        }
    }

    &dec{
        counter-reset: my-awesome-counter;
        > li{
            counter-increment: my-awesome-counter;
            &:before{
                content: counter(my-awesome-counter)". ";
            }
        }
    }
   
    &dec_circle {
        counter-reset: my-awesome-counter;
        > li{
            counter-increment: my-awesome-counter;
            line-height: 1.5em !important;
            
            &:before{
                content: counter(my-awesome-counter) "";
                width: 1.5em !important;
                min-width: 1.5em !important;
                height: 1.5em !important;
                line-height: 1.5em !important;
                border: 1px solid #222;
                border-radius: 100%;
                transform: scale(0.75);
            }
        }
    }

}
